<view-title>Aktivität</view-title>
<div class="actions" data-ng-repeat="row in actions" data-ng-switch="row.type" style="margin-top:10px">

  <strong data-ng-show="row.data.initiator">{{row.data.initiator.FullName}}</strong>
  <span data-ng-hide="row.data.initiator">Jemand</span>

  <span data-ng-switch-when="ArticleCreated">hat den Artikel <b>{{row.data.name}}</b> erfasst.</span>

  <span data-ng-switch-when="PricesChanged">hat die Preise angepasst.</span>

  <span data-ng-switch-when="SpecificationChanged">hat die Spezifikation aktualisiert.</span>

  <span data-ng-switch-when="DescriptionChanged">hat die Beschreibung aktualisiert.</span>

  <span data-ng-switch-when="ImageAdded">hat eine neue Datei hinzugefügt.</span>

  <span data-ng-switch-when="ImageRemoved">hat eine Datei entfernt.</span>

  <span data-ng-switch-default="">
    {{row.name}}
  </span>

  <br>
  <span am-time-ago="row.occuredOnUtc" title="{{row.occuredOnUtc | date:'medium'}}" class="text-muted" style="display:inline-block"></span>
</div>
