<ul class="nav nav-tabs" data-access-level="accessLevels.manager" data-organization-id="organizationId">
  <li role="presentation" data-ui-sref-active="active">
    <a href="" data-ui-sref="public.organization({organizationId: organizationId})">Home</a>
  </li>
  <li role="presentation"><a href="/management/{{organizationId}}#/orders">Bestellungen</a></li>
  <li role="presentation" data-ui-sref-active="active">
    <a href="" data-ui-sref="manage.articles({organizationId: organizationId})">Material</a>
  </li>
  <li role="presentation"><a href="/management/{{organizationId}}#/members">Mitglieder</a></li>
  <li role="presentation"><a href="/management/{{organizationId}}#/applications">Beitrittsanfragen</a></li>
  <li role="presentation"><a href="/management/{{organizationId}}#/settings">Einstellungen</a></li>
  <li role="presentation"><a href="/management/{{organizationId}}#/files">Dateien</a></li>
</ul>
