<ul class="nav nav-tabs" style="margin-bottom:10px">
  <li role="presentation" data-ui-sref-active="active">
    <a href="" data-ui-sref="organizations.articles.edit.details({organizationId: organizationId, articleId: articleId})">#{{articleId}}</a>
  </li>
  <li role="presentation" data-ui-sref-active="active">
    <a href="" data-ui-sref="organizations.articles.edit.description({organizationId: organizationId, articleId: articleId})">Beschreibung</a>
  </li>
  <li role="presentation" data-ui-sref-active="active">
    <a href="" data-ui-sref="organizations.articles.edit.specification({organizationId: organizationId, articleId: articleId})">Spezifikation</a>
  </li>
  <li role="presentation" data-ui-sref-active="active">
    <a href="" data-ui-sref="organizations.articles.edit.stock({organizationId: organizationId, articleId: articleId})">Bestand</a>
  </li>
  <li role="presentation" data-ui-sref-active="active">
    <a href="" data-ui-sref="organizations.articles.edit.files({organizationId: organizationId, articleId: articleId})">Dateien</a>
  </li>
</ul>
