<ul class="nav nav-tabs" style="margin-bottom:10px">
  <li role="presentation" data-ui-sref-active="active">
    <a href="" data-ui-sref="organizations.articles.edit.details({organizations: organizations, articleId: articleId})">#{{articleId}}</a>
  </li>
  <li role="presentation" data-ui-sref-active="active">
    <a href="" data-ui-sref="organizations.articles.edit.description({organizations: organizations, articleId: articleId})">Beschreibung</a>
  </li>
  <li role="presentation" data-ui-sref-active="active">
    <a href="" data-ui-sref="organizations.articles.edit.specification({organizations: organizations, articleId: articleId})">Spezifikation</a>
  </li>
  <li role="presentation" data-ui-sref-active="active">
    <a href="" data-ui-sref="organizations.articles.edit.files({organizations: organizations, articleId: articleId})">Dateien</a>
  </li>
</ul>
