<ul class="nav nav-tabs" style="margin-bottom:10px" data-access-level="accessLevels.manager" data-organization-id="organizationId">
  <li role="presentation" data-ui-sref-active="active">
    <a href="" data-ui-sref="public.organization({organizationId: organizationId})"><span class="glyphicon glyphicon-home"></span></a>
  </li>
  <li role="presentation" data-ui-sref-active="active">
    <a href="" data-ui-sref="organizations.stores.index({organizationId: organizationId})">Materialstelle</a>
  </li>
  <li role="presentation" data-ui-sref-active="active" active-nav="nestedTop">
    <a href="" data-ui-sref="manage.organization.orders({organizationId: organizationId})">Bestellungen</a>
  </li>
  <li role="presentation" data-ui-sref-active="active" active-nav="nestedTop">
    <a href="" data-ui-sref="organizations.articles.index({organizationId: organizationId})">Material</a>
  </li>
  <li role="presentation"><a href="/management/{{organizationId}}#/members">Mitglieder</a></li>
  <li role="presentation"><a href="/management/{{organizationId}}#/applications">Beitrittsanfragen</a></li>
  <li role="presentation"><a href="/management/{{organizationId}}#/settings">Einstellungen</a></li>
  <li role="presentation" data-ui-sref-active="active">
    <a href="" data-ui-sref="manage.organization.files({organizationId: organizationId})">Dateien</a>
  </li>
</ul>
