<div data-ng-show="store" class="store">
  <form name="addressForm" ph-editable="store.address" class="form-horizontal" novalidate>
    <div class="form-group">
      <label class="col-sm-3">Adresse
        <button type="button" class="btn btn-default btn-sm pull-right" data-ng-click="addressForm.$show()"
                data-ng-hide="addressForm.$visible">
          <span class="glyphicon glyphicon-edit"></span>
        </button>
      </label>

      <div class="col-xs-12 col-sm-9" data-ng-hide="addressForm.$visible">
        <p style="white-space:pre">{{store.address}}</p>
      </div>

      <div class="col-xs-12 col-sm-9" data-has-error="addressForm.address">
        <div data-ng-show="addressForm.$visible">
            <textarea class="form-control" data-ng-model="store.address"
                      rows="4" name="address" required>{{store.address}}</textarea>
        </div>
      </div>
    </div>
    <div class="form-group" data-ng-show="addressForm.$visible">
      <div class="col-sm-offset-3 col-sm-9">
        <ph-submit class="btn-primary" data-ng-click="updateAddress()"
                   data-form="addressForm" data-text="Speichern"></ph-submit>
        <button type="button" class="btn btn-default" data-ng-click="addressForm.$cancel()">
          Abbrechen
        </button>
      </div>
    </div>
  </form>

  <form name="openingHoursForm" ph-editable="store.openingHours" class="form-horizontal" novalidate>
    <div class="form-group">
      <label class="col-sm-3">Öffnungszeiten
        <button type="button" class="btn btn-default btn-sm pull-right" data-ng-click="openingHoursForm.$show()"
                data-ng-hide="openingHoursForm.$visible">
          <span class="glyphicon glyphicon-edit"></span>
        </button>
      </label>

      <div class="col-xs-12 col-sm-9" data-ng-hide="openingHoursForm.$visible">
        <p style="white-space:pre">{{store.openingHours}}</p>
      </div>

      <div class="col-xs-12 col-sm-9" data-has-error="openingHoursForm.openingHours">
        <div data-ng-show="openingHoursForm.$visible">
            <textarea class="form-control" data-ng-model="store.openingHours"
                      rows="4" name="openingHours" required>{{store.openingHours}}</textarea>
        </div>
      </div>
    </div>
    <div class="form-group" data-ng-show="openingHoursForm.$visible">
      <div class="col-sm-offset-3 col-sm-9">
        <ph-submit class="btn-primary" data-ng-click="updateOpeningHours()"
                   data-form="openingHoursForm" data-text="Speichern"></ph-submit>
        <button type="button" class="btn btn-default" data-ng-click="openingHoursForm.$cancel()">
          Abbrechen
        </button>
      </div>
    </div>
  </form>


  <form name="coordinateForm" ph-editable="coordinate" class="form-horizontal" novalidate>
    <div class="form-group">
      <label class="col-sm-3">Koordinaten
        <button type="button" class="btn btn-default btn-sm pull-right" data-ng-click="coordinateForm.$show()"
                data-ng-hide="coordinateForm.$visible">
          <span class="glyphicon glyphicon-edit"></span>
        </button>
      </label>

      <div class="col-xs-12 col-sm-9" data-ng-hide="coordinateForm.$visible">
        <p>{{store.coordinate.latitude}}</p>

        <p>{{store.coordinate.longitude}}</p>
      </div>

      <div class="col-xs-12 col-sm-9" data-ng-show="coordinateForm.$visible" data-has-error="coordinateForm.latitude">
        <div data-ng-show="coordinateForm.$visible">
          <input type="number" class="form-control" id="latitude" name="latitude"
                 data-ng-model="store.coordinate.latitude" data-both-or-none="store.coordinate.longitude">
          <div role="alert" data-ng-messages="coordinateForm.latitude.$error"
               data-ng-show="coordinateForm.latitude.$touched || form.$submitted">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12 col-sm-offset-3 col-sm-9" data-ng-show="coordinateForm.$visible"
           data-has-error="coordinateForm.longitude">
        <div data-ng-show="coordinateForm.$visible">
          <input type="number" class="form-control" id="longitude" name="longitude"
                 data-ng-model="store.coordinate.longitude" data-both-or-none="store.coordinate.latitude">
          <div role="alert" data-ng-messages="coordinateForm.longitude.$error"
               data-ng-show="coordinateForm.longitude.$touched || form.$submitted">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group" data-ng-show="coordinateForm.$visible">
      <div class="col-sm-offset-3 col-sm-9">
        <button type="button" class="btn btn-default btn-sm" data-ng-disabled="coordinateForm.$submitting"
                data-ng-click="fromMap()" title="Koordinate von der Karte übertragen"><span
          class="glyphicon glyphicon-arrow-up"></span></button>
        <ph-submit class="btn-primary" data-ng-click="updateCoordinate()"
                   data-form="coordinateForm" data-text="Speichern"></ph-submit>
        <button type="button" class="btn btn-default" data-ng-click="coordinateForm.$cancel()">
          Abbrechen
        </button>
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col-sm-12">
      <leaflet width="100%" height="400px" style="margin-bottom:10px"></leaflet>
    </div>
  </div>
</div>
