<ul class="nav nav-tabs" style="margin-bottom:10px" data-ng-show="isHome">
  <li data-ui-sref-active="active" role="presentation">
    <a href="" data-ui-sref="users.home({userId: userId})"><span class="glyphicon glyphicon-user"></span></a>
  </li>

  <li data-ui-sref-active="active" role="presentation" active-nav="nestedTop">
    <a href="" data-ui-sref="users.articles.index({userId: userId})">Material</a>
  </li>
  <!--
  <li data-ui-sref-active="active" role="presentation">
    <a href="" udata-i-sref="users.orders({userId: userId})">Bestellungen</a>
  </li>
  -->
</ul>
