<div data-ng-show="store" class="store">
  <h2>Materialstelle</h2>

  <div class="row">
    <div class="col-sm-4">
      <label>Adresse</label>
    </div>
    <div class="col-sm-8">
      <p data-ng-hide="isEditable" style="white-space:pre">{{store.address}}</p>

      <p data-ng-show="isEditable"><span style="white-space:pre" data-editable-textarea="store.address" data-e-rows="5" data-onbeforesave="updateAddress($data)">{{store.address}}</span>
      </p>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-4">
      <label>Öffnungszeiten</label>
    </div>
    <div class="col-sm-8">
      <p data-ng-hide="isEditable" style="white-space:pre">{{store.openingHours}}</p>

      <p data-ng-show="isEditable"><span style="white-space:pre" data-editable-textarea="store.openingHours" data-onbeforesave="updateOpeningHours($data)">{{store.openingHours}}</span>
      </p>
    </div>
  </div>
</div>
