<ul class="nav nav-tabs" style="margin-bottom:10px">
  <li role="presentation" data-ui-sref-active="active">
    <a href="" data-ui-sref="users.articles.edit.details({userId: userId, articleId: articleId})">#{{articleId}}</a>
  </li>
  <li role="presentation" data-ui-sref-active="active">
    <a href="" data-ui-sref="users.articles.edit.description({userId: userId, articleId: articleId})">Beschreibung</a>
  </li>
  <li role="presentation" data-ui-sref-active="active">
    <a href="" data-ui-sref="users.articles.edit.specification({userId: userId, articleId: articleId})">Spezifikation</a>
  </li>
  <li role="presentation" data-ui-sref-active="active">
    <a href="" data-ui-sref="users.articles.edit.files({userId: userId, articleId: articleId})">Dateien</a>
  </li>
</ul>
