<div data-ng-show="store" class="store">
  <h2>Materialstelle</h2>


  <div class="row">
    <div class="col-sm-3">
      <label>Adresse</label>
    </div>
    <div class="col-sm-9">
      <p data-ng-hide="isEditable" style="white-space:pre">{{store.address}}</p>

      <form data-editable-form name="userStoreAddressForm" data-ng-show="isEditable" data-onbeforesave="updateAddress($data)">
        <div class="form-group">
          <button type="button" class="btn btn-default pull-right" data-ng-click="userStoreAddressForm.$show()"
                  data-ng-show="!userStoreAddressForm.$visible" title="Bearbeiten">
            <span class="glyphicon glyphicon-edit"></span>
          </button>
          <p>
          <span style="white-space:pre" data-editable-textarea="store.address"
                data-e-rows="5" data-e-name="address">{{store.address}}</span>
          </p>
        </div>
        <div class="form-group" data-ng-show="userStoreAddressForm.$visible">
          <button type="submit" class="btn btn-primary" data-ng-disabled="userStoreAddressForm.$waiting">
            Speichern
          </button>
          <button type="button" class="btn btn-default" data-ng-disabled="userStoreAddressForm.$waiting"
                  data-ng-click="userStoreAddressForm.$cancel()">
            Verwerfen
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <label>Öffnungszeiten</label>
    </div>
    <div class="col-sm-9">
      <p data-ng-hide="isEditable" style="white-space:pre">{{store.openingHours}}</p>

      <form data-editable-form name="userStoreOpeningHoursForm" data-ng-show="isEditable" data-onbeforesave="updateOpeningHours($data)">
        <div class="form-group">
          <button type="button" class="btn btn-default pull-right" data-ng-click="userStoreOpeningHoursForm.$show()"
                  data-ng-show="!userStoreOpeningHoursForm.$visible" title="Bearbeiten">
            <span class="glyphicon glyphicon-edit"></span>
          </button>
          <p>
          <span style="white-space:pre" data-editable-textarea="store.openingHours"
                data-e-rows="5" data-e-name="openingHours">{{store.openingHours}}</span>
          </p>
        </div>
        <div class="form-group" data-ng-show="userStoreOpeningHoursForm.$visible">
          <button type="submit" class="btn btn-primary" data-ng-disabled="userStoreOpeningHoursForm.$waiting">
            Speichern
          </button>
          <button type="button" class="btn btn-default" data-ng-disabled="userStoreOpeningHoursForm.$waiting"
                  data-ng-click="userStoreOpeningHoursForm.$cancel()">
            Verwerfen
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="row" data-ng-show="isEditable">
    <div class="col-sm-3">
      <label>Koordinaten</label>
      <p data-ng-show="userStoreCoordinateForm.$visible">Latitude / Longitude</p>
    </div>
    <div class="col-sm-9">


      <p data-ng-hide="isEditable">{{store.coordinate.latitude}}</p>
      <p data-ng-hide="isEditable">{{store.coordinate.longitude}}</p>
      <button type="button" class="btn btn-default pull-right" data-ng-click="userStoreCoordinateForm.$show()"
              data-ng-show="!userStoreCoordinateForm.$visible" title="Bearbeiten">
        <span class="glyphicon glyphicon-edit"></span>
      </button>
      <form data-editable-form name="userStoreCoordinateForm" data-ng-show="isEditable" data-onbeforesave="updateCoordinate($data)">

        <div class="form-group">

          <p><span data-editable-text="store.coordinate.latitude" data-e-name="latitude">{{store.coordinate.latitude}}</span></p>
          <p><span data-editable-text="store.coordinate.longitude" data-e-name="longitude">{{store.coordinate.longitude}}</span></p>
        </div>
        <div class="form-group" data-ng-show="userStoreCoordinateForm.$visible">
          <button type="button" class="btn btn-default" data-ng-disabled="userStoreCoorindateForm.$waiting" data-ng-click="fromMap()" title="Koordinate von der Karte übertragen"><span class="glyphicon glyphicon-arrow-up"></span></button>
          <button type="submit" class="btn btn-primary" data-ng-disabled="userStoreCoordinateForm.$waiting">
            Speichern
          </button>
          <button type="button" class="btn btn-default" data-ng-disabled="userStoreCoordinateForm.$waiting"
                  data-ng-click="userStoreCoordinateForm.$cancel()">
            Verwerfen
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <leaflet width="100%" height="400px" style="margin-bottom:10px"></leaflet>
    </div>
  </div>
</div>
