<div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <form name="vm.form">
        <div class="form-group">
          <textarea class="form-control" data-ui-tinymce rows="20" data-ng-model="vm.data.description" autofocus></textarea>
        </div>

        <div class="form-group">
          <ph-submit class="btn-primary" data-ng-click="vm.submit()"
                     data-form="form" data-text="Speichern"></ph-submit>
          <a class="btn btn-default" href="" ph-history-back>Abbrechen</a>
        </div>
      </form>
    </div>
  </div>
</div>
