<div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
      <ph-inventory-article-fields tenant-id="vm.tenantId" article-id="vm.articleId"
                                   article="vm.article"></ph-inventory-article-fields>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-4 col-lg-offset-2 col-lg-4">
      <ph-inventory-article-prices tenant-id="vm.tenantId" article-id="vm.articleId"
                                   has-member-price="vm.hasMemberPrice"
                                   article="vm.article"></ph-inventory-article-prices>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ph-inventory-article-tags-input tenant-id="vm.tenantId" article-id="vm.articleId"
                                       tags="vm.article.tags"></ph-inventory-article-tags-input>
    </div>
  </div>
</div>
