<div>
  <form class="form-horizontal" name="form" novalidate>
    <div class="form-group">
      <label class="control-label col-sm-3" for="name">Name</label>

      <div class="col-sm-9" data-has-error="form.name">
        <input type="text" class="form-control" id="name" name="name"
               data-ng-model="formModel.name" required autofocus/>

        <div ph-messages="form.name"></div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3" for="brand">Marke</label>

      <div class="col-sm-9" data-has-error="form.brand">
        <input type="text" class="form-control" id="brand" name="brand"
               data-ng-model="formModel.brand"/>

        <div ph-messages="form.brand"></div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3" for="grossStock">Bestand (Brutto)</label>

      <div class="col-sm-9" data-has-error="form.grossStock">
        <input type="number" class="form-control" id="grossStock" name="grossStock"
               data-ng-model="formModel.grossStock" min="0" required/>

        <div ph-messages="form.grossStock"></div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3" for="color">Farbe</label>

      <div class="col-sm-9" data-has-error="form.color">
        <input type="text" class="form-control" id="color" name="color"
               data-ng-model="formModel.color"/>

        <div ph-messages="form.color"></div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <ph-submit class="btn-primary" data-ng-click="submit()"
                   data-form="form" data-text="Speichern"></ph-submit>
        <a class="btn btn-default" href="" data-ng-click="reset()">Verwerfen</a>
      </div>
    </div>
  </form>
</div>
