<h1 data-view-title>Event-Processors</h1>
<table class="table table-hover" data-st-table="displayedCollection" data-st-safe-src="rowCollection">
  <thead>
  <tr>
    <th data-st-sort="status">Status</th>
    <th data-st-sort="context">Context</th>
    <th data-st-sort="name">Name</th>
    <th data-st-sort="processedAtUtc">Processed</th>
    <th data-st-sort="processedEventId">Event</th>
    <th data-st-sort="behind">Behind</th>
    <th class="text-right"><a class="btn btn-primary" href="" data-ng-click="processAll()" title="Process all"><span
      class="glyphicon glyphicon-arrow-right"></span></a></th>
  </tr>
  <tr>
    <th colspan="7"><input data-st-search class="form-control" type="search" placeholder="Suchen..."/></th>
  </tr>
  </thead>
  <tbody>
  <tr data-ng-repeat="row in displayedCollection">
    <td>
      <button type="button" data-ng-disabled data-ng-switch="row.status" class="btn btn-{{row.status}} btn-sm"
              data-ng-click="showStatus(row)">
        <span data-ng-switch-when="success" class="glyphicon glyphicon-ok"></span>
        <span data-ng-switch-when="warning" class="glyphicon glyphicon-warning-sign"></span>
        <span data-ng-switch-when="danger" class="glyphicon glyphicon-remove"></span>
        <span data-ng-switch-default="" class="glyphicon glyphicon-question-sign"></span>
      </button>
    </td>
    <td>{{row.context}}</td>
    <td>{{row.name}}</td>
    <td>{{row.processedAtUtc | date:'medium'}}</td>
    <td>{{row.processedEventId}}</td>
    <td>{{row.behind}}</td>
    <td class="text-right">
      <a class="btn btn-warning btn-sm" href="" data-ng-click="reset(row)" title="Reset"
         data-ng-show="row.isProjection"><span
        class="glyphicon glyphicon-refresh"></span></a>
      <a class="btn btn-primary btn-sm" href="" data-ng-click="process(row)" title="Process"><span
        class="glyphicon glyphicon-arrow-right"></span></a>
      <!--<a class="btn btn-danger btn-sm" href="" data-ng-click="recreate(row)">Recreate</a>-->
    </td>
  </tr>
  </tbody>
</table>

<div class="alert alert-info" data-ng-show="!loading && rowCollection.length == 0">
  <strong>Nichts gefunden!</strong>
  Es sind keine Event processors vorhanden.
</div>

<div class="alert alert-info" data-ng-show="!loading && displayedCollection.length == 0 && rowCollection.length > 0">
  <strong>Nichts gefunden!</strong>
  Deine Suche liefert keine Ergebnisse.
</div>
