<div data-ng-show="mail">
  <h2>{{mail.subject}}</h2>

  <div data-ng-show="mail.textBody">
    <p class="well" style="white-space:pre-wrap">{{mail.textBody}}</p>
  </div>
  <div data-ng-show="mail.htmlBody">
    <p class="well" style="white-space:pre-wrap">{{mail.htmlBody}}</p>
  </div>
  <p>
    <a class="btn btn-primary" data-ng-click="close()">Schliessen</a>
  </p>
</div>

<table class="table table-hover" data-st-table="displayedCollection" data-st-safe-src="rowCollection">
  <thead>
  <tr>
    <th colspan="4"><input data-st-search class="form-control" type="search" placeholder="Suchen..."/></th>
  </tr>
  <tr>
    <th data-st-sort="date">Datum</th>
    <th data-st-sort="subject">Betreff</th>
    <th>Empfänger</th>
    <th class="text-right"><a class="btn btn-danger" data-ng-click="delete()">Alle löschen</a></th>
  </tr>
  </thead>
  <tbody>
  <tr data-ng-repeat="row in displayedCollection">
    <td>{{row.date|date:'dd.MM.yyyy HH:mm:ss'}}</td>
    <td>{{row.subject}}</td>
    <td><span data-ng-repeat="to in row.to">{{to}}</span></td>
    <td class="text-right"><a class="btn btn-primary btn-sm" data-ng-click="show(row)">Anzeigen</a> <a
      class="btn btn-danger btn-sm" data-ng-click="delete(row.id)">Löschen</a></td>
  </tr>
  </tbody>
</table>

<div class="alert alert-info" data-ng-show="!loading && rowCollection.length == 0">
  <strong>Nichts gefunden!</strong>
  Es sind keine E-Mails vorhanden.
</div>

<div class="alert alert-info" data-ng-show="!loading && displayedCollection.length == 0 && rowCollection.length > 0">
  <strong>Nichts gefunden!</strong>
  Deine Suche liefert keine Ergebnisse.
</div>
