<table class="table table-hover" data-st-table="displayedCollection" data-st-safe-src="rowCollection">
  <thead>
  <tr>
    <th colspan="9"><input data-st-search class="form-control" type="search" placeholder="Suchen..."/></th>
  </tr>
  <tr>
    <th data-st-sort="userId">Id</th>
    <th data-st-sort="firstName">Vorname</th>
    <th data-st-sort="lastName">Nachname</th>
    <th data-st-sort="emailAddress">E-Mail-Adresse</th>
    <th data-st-sort="signedUpAtUtc">Registriert am</th>
    <th data-st-sort="lastLogInAtUtc">Letztes Login</th>
    <th data-st-sort="isApproved">Bestätigt</th>
    <th data-st-sort="isAdmin">Admin</th>
    <th data-st-sort="isLocked">Gesperrt</th>
  </tr>
  </thead>
  <tbody>
  <tr data-ng-repeat="row in displayedCollection">
    <td><ph-guid value="row.userId"></ph-guid></td>
    <td>{{row.firstName}}</td>
    <td>{{row.lastName}}</td>
    <td>{{row.emailAddress}}</td>
    <td><ph-date value="row.signedUpAtUtc"></ph-date></td>
    <td><ph-date value="row.lastLogInAtUtc"></ph-date></td>
    <td>
      <ph-checkbox data-spin="row.row.isApprovedSubmitting">
        <input type="checkbox" data-ng-model="row.isApproved" data-ng-change="toggleIsApproved(row)" data-ng-disabled="row.isApproved" />
        <label></label>
      </ph-checkbox>
    </td>
    <td>
      <ph-checkbox class="checkbox-danger" data-spin="row.isAdminSubmitting">
        <input type="checkbox" data-ng-model="row.isAdmin" data-ng-change="toggleIsAdmin(row)" />
        <label></label>
      </ph-checkbox>
    </td>
    <td>
      <ph-checkbox class="checkbox-warning" data-spin="row.isLockedSubmitting">
        <input type="checkbox" data-ng-model="row.isLocked" data-ng-change="toggleIsLocked(row)" />
        <label></label>
      </ph-checkbox>
    </td>
  </tr>
  </tbody>
</table>

<div class="alert alert-info" data-ng-show="rowCollection.length == 0">
  <strong>Nichts gefunden!</strong>
  Es sind keine Benutzer vorhanden.
</div>

<div class="alert alert-info" data-ng-show="displayedCollection.length == 0 && rowCollection.length > 0">
  <strong>Nichts gefunden!</strong>
  Deine Suche liefert keine Ergebnisse.
</div>
