<div class="modal-header">
  <button type="button" class="close" data-ng-click="cancel()" aria-label="Close"><span
    aria-hidden="true">&times;</span></button>
  <h3 data-view-title>Neues Material</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal" name="form" novalidate>

    <div class="form-group">
      <label class="control-label col-sm-3" for="name">Name</label>

      <div class="col-sm-9" data-ng-class="{'has-error':!form.name.$valid && form.name.$touched}">
        <input class="form-control" type="text" data-ng-model="name" id="name" name="name" required autofocus/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3" for="name">Bestand</label>

      <div class="col-sm-9" data-ng-class="{'has-error':!form.quantity.$valid && form.quantity.$touched}">
        <input class="form-control" type="number" data-ng-model="quantity" id="quantity" name="quantity" min="0" required/>
      </div>
    </div>

  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" data-ng-click="ok()" data-ng-disabled="form.$invalid">Erstellen</button>
  <button class="btn btn-default" type="button" data-ng-click="cancel()">Abbrechen</button>
</div>
