<div class="row" data-ng-show="submitted">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <div class="page-header">
      <h1 data-view-title>Feedback</h1>
    </div>

    <p>Merci!</p>
  </div>
</div>

<div class="row" data-ng-hide="submitted">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <div class="page-header">
      <h1>Feedback</h1>
    </div>

    <form name="form" novalidate>
      <div class="form-group" data-has-error="form.emailAddress">
        <label class="control-label" for="emailAddress">E-Mail-Adresse</label>

        <input type="email" class="form-control input-lg" id="emailAddress" name="emailAddress"
               data-ng-model="feedback.emailAddress" required/>

        <div ph-messages="form.emailAddress"></div>
      </div>

      <div class="form-group" data-has-error="form.comment">
        <label class="control-label" for="comment">Feedback</label>

        <textarea class="form-control input-lg" id="comment" name="comment" data-ng-model="feedback.comment"
                  rows="10" required></textarea>

        <div ph-messages="form.comment"></div>
      </div>

      <div class="form-group">
        <ph-submit class="btn-primary btn-lg" data-ng-click="submit()"
                   data-form="form" data-text="Senden"></ph-submit>
      </div>
    </form>
  </div>
</div>
