<div class="row">
  <div class="col-xs-12 col-sm-6">
    <h2>Kontakt</h2>

    <p>
      {{address.firstName}} {{address.lastName}}<br>
      {{address.street}}<br>
      {{address.postcode}} {{address.city}}
    </p>

    <p>
      <span class="glyphicon glyphicon-earphone" title="Telefonnummer"></span> {{address.phoneNumber}}
    </p>

    <p>
      <span class="glyphicon glyphicon-envelope" title="E-Mail-Adresse"></span> {{emailAddress}}
    </p>

    <p>
      <a href="" class="btn btn-default btn-lg" style="display:block" data-ng-click="showChangeContact()">Kontakt
        ändern</a>
    </p>
  </div>
  <div class="col-xs-12 col-sm-6">
    <h2>Konto</h2>
    
    <p>
      <a href="" class="btn btn-default btn-lg" style="display:block" data-ng-click="showChangeEmailAddress()">E-Mail-Adresse
        ändern</a>
    </p>

    <p>
      <a href="" class="btn btn-default btn-lg" style="display:block" data-ng-click="showChangePassword()">Passwort
        ändern</a>
    </p>
  </div>
</div>
