<p>views/user/documents.html</p>
<div class="alert alert-info" role="alert">
  <p><strong>Notiz</strong></p>

  <p>Hier sieht der Benutzer seine Bestellungen und Verträge. Die, die für seine Materialstelle erstellt wurden, sowie
    die, die er bei anderen Benutzern oder Organisationen gemacht hat.</p>

  <p>Der Umstand soll über einen kleinen Filter klar gemacht werden.</p>

  <p>Man könnte auch Dokumente trennen, in zwei Tabs für Bestellungen und Verträge.</p>

  <p>Was meinst du @lukasmuellerme ?</p>
</div>
