<div class="row">

  <ph-user-vcard class="col-sm-4 col-md-3 col-lg-3 hidden-xs" data-user="user" data-ng-show="user"></ph-user-vcard>

  <div class="col-sm-8 col-md-9 col-lg-9 col-xs-12">
    <h1 class="vcard-names visible-xs" data-ng-show="user">
      <a class="vcard-avatar">
        <img class="avatar" src="" data-gravatar-src-once="user.email" data-gravatar-size="32"/>
      </a>
      <span class="vcard-fullname" style="display: inline">{{user.fullName}}</span>
      <!--<span class="vcard-username">{{user.username}}</span>-->
    </h1>
    <ph-user-store data-store="user.store" data-map="map" data-is-editable="isHome"></ph-user-store>


    <div data-ng-show="user">
      <div data-ng-hide="user.store">
        <div class="jumbotron text-center" data-ng-show="isHome">
          <button class="btn btn-default btn-lg" data-ng-click="openStore()">Eigene Materialstelle eröffnen</button>
        </div>
        <div class="jumbotron" data-ng-hide="isHome">
          <p>Dieser Benutzer hat keine eigene Materialstelle eröffnet.</p>
        </div>
      </div>
    </div>
  </div>
</div>
