<table class="table" data-st-table="displayedCollection" data-st-safe-src="rowCollection">
  <thead>
  <tr>
    <th data-st-sort-default="true" data-st-sort="id">Nummer</th>
    <th data-st-sort="organizationName">Organisation</th>
    <th data-st-sort="createdUtc">Erstellt</th>
    <th data-st-sort="status">Status</th>
    <th data-st-sort="modifiedUtc">Bearbeitet</th>
    <th></th>
  </tr>

  </thead>
  <tbody>
  <tr data-ng-repeat="order in displayedCollection">
    <td>{{order.orderId}}</td>
    <td>{{order.organizationName}}</td>
    <td>
      <ph-date value="order.createdUtc"></ph-date>
    </td>
    <td>{{order.status | orderStatusText}}</td>
    <td>
      <ph-date value="order.modifiedUtc"></ph-date>
    </td>
    <td class="text-right">
      <!--
      <a class="btn btn-default btn-small" data-ng-click="openOrder(order)">Öffnen</a>
      -->
      <a class="btn btn-default btn-sm" href="/api/orders/{{order.orderId}}.pdf">PDF</a>
    </td>
  </tr>
  </tbody>
</table>
