<table class="table table-hover" data-st-set-filter="customFilter" data-st-table="displayedCollection" data-st-safe-src="rowCollection">
  <thead>
  <tr>
    <th colspan="4">
      <input data-st-search class="form-control" type="search" placeholder="Suchen..."/>
    </th>
    <th colspan="2">
      <st-select-multiple collection="rowCollection" predicate="status"></st-select-multiple>
    </th>
  </tr>
  <tr>
    <th data-st-sort-default="true" data-st-sort="orderId">Nummer</th>
    <th data-st-sort="createdAtUtc">Erstellt</th>
    <th data-st-sort="lessorName">Vermieter</th>
    <th data-st-sort="lesseeName">Mieter</th>
    <th data-st-sort="status">Status</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr data-ng-repeat="order in displayedCollection">
    <td>{{order.orderId}}</td>
    <td>
      <ph-date value="order.createdAtUtc"></ph-date>
    </td>
    <td>{{order.lessorName}}</td>
    <td>{{order.lessee.name}}</td>
    <td>{{order.status | orderStatusText}}</td>
    <td class="text-right">
      <a class="btn btn-default btn-sm" href=""
         data-ui-sref="user.orders.order({userId: userId, orderId: order.orderId})">Öffnen</a>
      <a class="btn btn-default btn-sm" href="/api/v0/orders/{{order.orderId}}.pdf">PDF</a>
    </td>
  </tr>
  </tbody>
</table>

<div class="alert alert-info" data-ng-show="rowCollection.length == 0">
  <strong>Nichts gefunden!</strong>
  Es sind keine Bestellungen vorhanden.
</div>

<div class="alert alert-info" data-ng-show="displayedCollection.length == 0 && rowCollection.length > 0">
  <strong>Nichts gefunden!</strong>
  Deine Suche liefert keine Ergebnisse.
</div>
