<h2 data-view-title>Bestellung {{order.orderShortId}}</h2>

<div data-ng-show="order" class="row">
  <div class="col-lg-4">
    <p>Status: {{order.status | orderStatusText}}</p>

    <p>Vermieter: {{order.lessorName}}</p>

    <p>Erstellt: {{order.createdAtUtc | date:'medium'}}</p>

    <p>Bearbeitet: {{order.modifiedAtUtc | date:'medium'}}</p>
  </div>
  <div class="col-lg-4">
    <p>{{order.lessee.name}}</p>

    <p>{{order.lessee.street}}</p>

    <p>{{order.lessee.postcode}} {{order.lessee.city}}</p>

    <p>{{order.lessee.memberNumber}}</p>
  </div>
</div>

<form name="orderForm" novalidate>
  <table data-ng-show="order" class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>Artikel</th>
      <th>Verfügbar</th>
      <th>Von</th>
      <th>Bis</th>
      <th>Menge</th>
      <th>Stückpreis</th>
      <th>Total</th>
      <th data-ng-show="canEdit()"></th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="item in order.items">
      <td>{{$index+1}}</td>
      <td>{{item.text}}</td>
      <td data-ng-show="item.isAvailable"><span class="glyphicon glyphicon-ok"></span></td>
      <td data-ng-show="!item.isAvailable"><span class="glyphicon glyphicon-remove"></span></td>
      <td data-ng-show="!item.editing">{{item.fromUtc | date:'mediumDate'}}</td>
      <td data-ng-show="!item.editing">{{item.toUtc | date:'mediumDate'}}</td>
      <td data-ng-show="!item.editing">{{item.quantity}}</td>
      <td data-ng-show="item.editing" class="col-sm-2"
          data-ng-class="{'has-error':!orderForm.item_{{$index}}_fromUtc.$valid && orderForm.item_{{$index}}_fromUtc.$touched}">
        <p class="input-group">
          <input class="form-control" type="text" required data-ng-model="item.fromUtc" name="item_{{$index}}_fromUtc"
                 data-uib-datepicker-popup="mediumDate" data-is-open="fromUtcIsOpen"/>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" data-ng-click="fromUtcIsOpen = true">
            <i class="glyphicon glyphicon-calendar"></i></button>
        </span>
        </p>
      </td>
      <td data-ng-show="item.editing" class="col-sm-2"
          data-ng-class="{'has-error':!orderForm.item_{{$index}}_toUtc.$valid && orderForm.item_{{$index}}_toUtc.$touched}">
        <p class="input-group">
          <input class="form-control" type="text" required data-ng-model="item.toUtc" name="item_{{$index}}_toUtc"
                 data-uib-datepicker-popup="mediumDate" data-is-open="toUtcIsOpen"/>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" data-ng-click="toUtcIsOpen = true">
            <i class="glyphicon glyphicon-calendar"></i></button>
        </span>
        </p>
      </td>
      <td data-ng-show="item.editing" class="col-sm-1"
          data-ng-class="{'has-error':!orderForm.item_{{$index}}_quantity.$valid && orderForm.item_{{$index}}_quantity.$touched}">
        <input class="form-control" type="number" required data-ng-model="item.quantity" name="item_{{$index}}_quantity"/>
      </td>
      <td>{{item.unitPrice | number:2}}</td>
      <td data-ng-show="!item.editing">{{item.lineTotal | number:2}}</td>
      <td data-ng-show="item.editing" class="col-sm-2"
          data-ng-class="{'has-error':!orderForm.item_{{$index}}_lineTotal.$valid && orderForm.item_{{$index}}_lineTotal.$touched}">
        <p class="input-group">
          <input class="form-control" type="text" required data-ng-model="item.lineTotal"
                 name="item_{{$index}}_lineTotal"/>
        <span class="input-group-btn">
          <button class="btn btn-default" data-ng-click="calculateLineTotal(item)" title="Preis berechnen">
            <i class="glyphicon glyphicon-refresh"></i></button>
        </span>
        </p>
      </td>
      <td data-ng-show="canEdit() && !item.editing">
        <a data-ng-show="canEdit()" class="btn btn-default" href="" data-ng-click="editItem(item)"
           title="Bearbeiten"><span class="glyphicon glyphicon-edit"></span></a>
        <a data-ng-show="canEdit()" class="btn btn-default" href="" data-ng-click="removeItem(item)"
           title="Entfernen"><span class="glyphicon glyphicon-remove"></span></a>
      </td>
      <td data-ng-show="item.editing">
        <a class="btn btn-default" href="" data-ng-click="saveEditedItem(item)" title="Speichern"><span
          class="glyphicon glyphicon-ok"></span></a>
        <a class="btn btn-default" href="" data-ng-click="cancelEditing(item)" title="Verwerfen"><span
          class="glyphicon glyphicon-asterisk"></span></a>
      </td>
    </tr>

    <tr style="font-weight:bold">
      <td colspan="7" style="text-align:right;">Total</td>
      <td>{{getTotal() | number:2}}</td>
      <td data-ng-show="canEdit()"></td>
    </tr>
    </tbody>
  </table>
</form>

<div class="row">
  <div class="col-sm-6">
    <a class="btn btn-default" href="" ph-history-back>Zurück</a>
    <a data-ng-show="order" class="btn btn-default" href="/api/orders/{{order.orderId}}/pdf">PDF</a>
  </div>
  <div ng-show="order" class="col-sm-6" style="text-align:right">
    <a class="btn btn-default" data-ng-show="canEdit()" href="" data-ng-click="showAddItem(order)">Artikel
      hinzufügen</a>
    <a class="btn btn-primary" data-ng-show="canConfirm()" href="" data-ng-click="confirmOrder(order)">Bestätigen</a>
    <a class="btn btn-danger" data-ng-show="canReject()" href="" data-ng-click="rejectOrder(order)">Ablehnen</a>
    <a class="btn btn-primary" data-ng-show="canClose()" href="" data-ng-click="closeOrder(order)">Abschliessen</a>
  </div>
</div>
