<h2>Neues Material erfassen</h2>
<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
    <form class="form-horizontal" data-ng-submit="submit()" name="newArticleForm">
      <div class="form-group">
        <label class="control-label col-sm-3" for="name">Name</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" data-ng-model="name" placeholder="" id="name" required autofocus />
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button class="btn btn-primary" type="submit" data-ng-disabled="newArticleForm.$invalid">Speichern</button>
          <a class="btn btn-default" href="" data-ui-sref="users.articles.index({userId: userId})">Abbrechen</a>
        </div>
      </div>
    </form>
  </div>
</div>
