<p>Files</p>
<!--<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <form class=form-horizontal" data-ng-submit="submit()" name="editForm">
      <div class="form-group">
        <div class="col-xs-12 col-sm-12">
          <textarea class="form-control" rows="10" data-ng-model="specification" id="specification" autofocus></textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12 col-sm-12" style="margin-top: 15px; margin-bottom: 15px">
          <button class="btn btn-primary" type="submit" data-ng-disabled="editForm.$invalid">Speichern</button>
          <a class="btn btn-default" href="" data-ui-sref="users.articles.index({userId: userId})">Abbrechen</a>
        </div>
      </div>
    </form>
  </div>
</div>-->
