<div class="row" data-ng-show="article">
  <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
    <form class="form-horizontal" name="form" novalidate>
      <div class="form-group">
        <label class="control-label col-sm-3" for="name">Name</label>

        <div class="col-sm-9" data-ng-class="{'has-error':!form.name.$valid && form.name.$touched}">
          <input class="form-control" type="text" data-ng-model="article.name" id="name" name="name" required
                 autofocus/>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-3" for="brand">Marke</label>

        <div class="col-sm-9" data-ng-class="{'has-error':!form.brand.$valid && form.brand.$touched}">
          <input class="form-control" type="text" data-ng-model="article.brand" id="brand" name="brand"/>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-3" for="price">Preis pro Woche</label>

        <div class="col-sm-9" data-ng-class="{'has-error':!form.price.$valid && form.price.$touched}">
          <input class="form-control" type="text" data-ng-model="article.price" id="price" name="price" required/>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-3" for="grossStick">Bestand (Brutto)</label>

        <div class="col-sm-9" data-ng-class="{'has-error':!form.grossStock.$valid && form.grossStock.$touched}">
          <input class="form-control" type="number" data-ng-model="article.grossStock" id="grossStick" name="grossStock" min="0" required/>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-3" for="color">Farbe</label>

        <div class="col-sm-9" data-ng-class="{'has-error':!form.color.$valid && form.color.$touched}">
          <input class="form-control" type="text" data-ng-model="article.color" id="color" name="color"/>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <ph-submit class="btn-primary" data-ng-click="submit()"
                     data-form="form" data-text="Speichern"></ph-submit>
          <a class="btn btn-default" href="" data-ng-click="cancel()">Abbrechen</a>
        </div>
      </div>
    </form>
  </div>
</div>
