<div class="row" data-ng-show="article">
  <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
    <form class="form-horizontal" name="form" novalidate>
      <div class="form-group">
        <label class="control-label col-sm-3" for="name">Name</label>

        <div class="col-sm-9" data-has-error="form.name">
          <input type="text" class="form-control" id="name" name="name" data-ng-model="article.name" required
                 autofocus/>

          <div role="alert" data-ng-messages="form.name.$error"
               data-ng-show="form.name.$touched || form.$submitted">
            <div data-ng-messages-include="views/messages.html"></div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-3" for="brand">Marke</label>

        <div class="col-sm-9" data-has-error="form.brand">
          <input type="text" class="form-control" id="brand" name="brand" data-ng-model="article.brand"/>

          <div role="alert" data-ng-messages="form.brand.$error"
               data-ng-show="form.brand.$touched || form.$submitted">
            <div data-ng-messages-include="views/messages.html"></div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-3" for="grossStock">Bestand (Brutto)</label>

        <div class="col-sm-9" data-has-error="form.grossStock">
          <input type="number" class="form-control" id="grossStock" name="grossStock" data-ng-model="article.grossStock"
                 min="0" required/>

          <div role="alert" data-ng-messages="form.grossStock.$error"
               data-ng-show="form.grossStock.$touched || form.$submitted">
            <div data-ng-messages-include="views/messages.html"></div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-3" for="color">Farbe</label>

        <div class="col-sm-9" data-has-error="form.color">
          <input type="text" class="form-control" id="color" name="color" data-ng-model="article.color"/>

          <div role="alert" data-ng-messages="form.color.$error"
               data-ng-show="form.color.$touched || form.$submitted">
            <div data-ng-messages-include="views/messages.html"></div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <ph-submit class="btn-primary" data-ng-click="submit()"
                     data-form="form" data-text="Speichern"></ph-submit>
          <a class="btn btn-default" href="" data-ng-click="cancel()">Abbrechen</a>
        </div>
      </div>
    </form>
  </div>


  <div class="col-xs-12 col-sm-10 col-md-4 col-lg-offset-2 col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Preis pro Woche</h3>
      </div>
      <div class="panel-body">
        <form name="formPrices" novalidate>
          <div class="form-group" data-has-error="formPrices.memberPrice" data-ng-show="organizationId">
            <label class="control-label" for="memberPrice">Mitglieder</label>

            <input type="number" class="form-control" id="memberPrice" name="memberPrice"
                   data-ng-model="pricesFormModel.memberPrice"
                   min="0.01"/>

            <div role="alert" data-ng-messages="formPrices.memberPrice.$error"
                 data-ng-show="formPrices.memberPrice.$touched || formPrices.$submitted">
              <div data-ng-messages-include="views/messages.html"></div>
            </div>
          </div>

          <div class="form-group" data-has-error="formPrices.publicPrice">
            <label class="control-label" for="publicPrice">Externe</label>

            <input type="number" class="form-control" id="publicPrice" name="publicPrice"
                   data-ng-model="pricesFormModel.publicPrice"
                   min="0.01"/>

            <div role="alert" data-ng-messages="formPrices.publicPrice.$error"
                 data-ng-show="formPrices.publicPrice.$touched || formPrices.$submitted">
              <div data-ng-messages-include="views/messages.html"></div>
            </div>
          </div>

          <div class="form-group">
            <ph-submit class="btn-primary" data-ng-click="submitPrices(formPrices, pricesFormModel)"
                       data-form="formPrices" data-text="Speichern"></ph-submit>
            <button type="button" class="btn btn-default" data-ng-click="resetPrices(formPrices, pricesFormModel, pricesFormReset)">
              Verwerfen
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
