<div class="page-header">
  <h1>Warenkorb</h1>
</div>

<form name="cartForm" novalidate>
  <table data-ng-show="cart.items.length > 0" class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>Artikel</th>
      <th>Vermieter</th>
      <th class="text-center">Verfügbar</th>
      <th>Menge</th>
      <th>Von</th>
      <th>Bis</th>
      <th>Tage</th>
      <!--<th>Stückpreis/Woche</th>-->
      <th>Preis</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="item in cart.items">
      <td>{{$index+1}}</td>
      <td>{{item.text}}</td>
      <td>{{item.ownerName}}</td>
      <td class="text-center">
        <button type="button" class="btn btn-success" data-ng-show="item.isAvailable && !item.availabilityChecking"
                data-ng-click="checkAvailability(item)" title="Verfügbar!"><span
          class="glyphicon glyphicon-ok"></span></button>
        <button type="button" class="btn btn-danger" data-ng-show="!item.isAvailable && !item.availabilityChecking"
                data-ng-click="checkAvailability(item)" title="Nicht verfügbar!">
          <span class="glyphicon glyphicon-remove"></span></button>
        <button type="button" class="btn btn-default" data-ng-show="item.availabilityChecking"><span
          class="glyphicon glyphicon-refresh glyphicon-spin" title="Verfügbarkeit wird geprüft..."></span></button>
      </td>
      <td data-ng-show="!item.editing">{{item.quantity}}</td>
      <td data-ng-show="item.editing" class="col-sm-1"
          data-ng-class="{'has-error':!cartForm.item_{{$index}}_quantity.$valid && cartForm.item_{{$index}}_quantity.$touched}">
        <input class="form-control" type="number" required data-ng-model="item.quantity"
               name="item_{{$index}}_quantity"/>
      </td>
      <td data-ng-show="!item.editing">{{item.fromUtc | date:'mediumDate'}}</td>
      <td data-ng-show="!item.editing">{{item.toUtc | date:'mediumDate'}}</td>
      <td data-ng-show="item.editing" class="col-sm-2"
          data-ng-class="{'has-error':!cartForm.item_{{$index}}_fromUtc.$valid && cartForm.item_{{$index}}_fromUtc.$touched}">
        <p class="input-group">
          <input class="form-control" type="text" required data-ng-model="item.fromUtc" name="item_{{$index}}_fromUtc"
                 data-uib-datepicker-popup="mediumDate" data-is-open="fromUtcIsOpen"/>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" data-ng-click="fromUtcIsOpen = true">
            <i class="glyphicon glyphicon-calendar"></i></button>
        </span>
        </p>
      </td>
      <td data-ng-show="item.editing" class="col-sm-2"
          data-ng-class="{'has-error':!cartForm.item_{{$index}}_toUtc.$valid && cartForm.item_{{$index}}_toUtc.$touched}">
        <p class="input-group">
          <input class="form-control" type="text" required data-ng-model="item.toUtc" name="item_{{$index}}_toUtc"
                 data-uib-datepicker-popup="mediumDate" data-is-open="toUtcIsOpen"/>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" data-ng-click="toUtcIsOpen = true">
            <i class="glyphicon glyphicon-calendar"></i></button>
        </span>
        </p>
      </td>

      <td>{{item.days}}</td>
      <!--<td>{{item.unitPricePerWeek | number:2}}</td>-->
      <td>{{item.itemTotal | number:2}}</td>
      <td data-ng-show="canEdit() && !item.editing">
        <a data-ng-show="canEdit()" class="btn btn-default" href="" data-ng-click="editItem(item)"
           title="Bearbeiten"><span class="glyphicon glyphicon-edit"></span></a>
        <button type="button" data-ng-show="canEdit()" class="btn btn-default"
                data-mwl-confirm data-on-confirm="removeItem(item)" data-title="Bestätigung"
                data-message="Möchtest du <b>{{item.text}}</b> wirklich entfernen?"
                title="Artikel entfernen"><span class="glyphicon glyphicon-remove"></span></button>
      </td>
      <td data-ng-show="item.editing">
        <a class="btn btn-default" href="" data-ng-click="saveEditedItem(item)" title="Speichern"><span
          class="glyphicon glyphicon-ok"></span></a>
        <a class="btn btn-default" href="" data-ng-click="cancelEditing(item)" title="Verwerfen"><span
          class="glyphicon glyphicon-asterisk"></span></a>
      </td>
    </tr>

    <tr style="font-weight:bold">
      <td colspan="8" style="text-align:right;">Total</td>
      <td>{{getTotal() | number:2}}</td>
      <td data-ng-show="canEdit()"></td>
    </tr>
    </tbody>
  </table>
</form>

<div class="row" data-ng-show="cart.items.length > 0">
  <div class="col-xs-6 text-left">
    <button type="button" class="btn btn-danger btn-lg"
            data-mwl-confirm data-on-confirm="clearCart()" data-title="Bestätigung"
            data-message="Möchtest du dein Warenkorb wirklich leeren?"
            data-ng-disabled="clearingCart" title="Warenkorb leeren"><span
      class="glyphicon glyphicon-refresh glyphicon-spin" data-ng-show="clearingCart"></span> Warenkorb leeren
    </button>
  </div>
  <div class="col-xs-6 text-right">
    <button type="button" class="btn btn-primary btn-lg" data-ng-disabled="!canGoToCheckout()"
            data-ng-click="goToCheckout()">Weiter zur Bestellung
    </button>
    </p>
  </div>
</div>

<div class="alert alert-info" data-ng-show="cart.items.length == 0 && !cartCleared">
  <strong>Nichts gefunden!</strong>
  Dein Warenkorb ist leer.
</div>

<div class="alert alert-success" data-ng-show="cart.items.length == 0 && cartCleared">
  <strong>Jupp!</strong>
  Dein Warenkorb wurde erfolgreich geleert.
</div>
