<div class="page-header">
  <h1>{{item.name}}
    <small>{{item.lessor.name}}</small>
  </h1>
</div>

<div class="row" data-ng-show="item">
  <div class="col-xs-12 col-md-6">
    <ph-shop-item-images images="item.images"></ph-shop-item-images>
  </div>
  <div class="col-xs-12 col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">Vermieter</div>
      <div class="panel-body">
        <address style="white-space:pre-line; margin-bottom:0">{{lessor.address}}<br>
          <abbr title="Telefon">P:</abbr> {{lessor.phoneNumber}}
          <abbr title="E-Mail-Adresse">@:</abbr> {{lessor.emailAddress}}
        </address>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-3">
    <div data-access-level="accessLevels.user" data-ng-show="lessor">
      <ph-shop-item-add-to-cart item="item" data-ng-show="canRent()"></ph-shop-item-add-to-cart>

      <div class="alert alert-info" data-ng-hide="canRent()">
        Dieser Artikel steht nur den Mitglieder dieser Organisation zur Verfügung.
      </div>
    </div>

    <div class="alert alert-info" data-access-level="accessLevels.anon">
      Melde dich an um Artikel auszuleihen.
    </div>
  </div>
</div>

<div class="row" style="margin-top:20px">
  <uib-tabset class="col-xs-12">
    <uib-tab heading="Beschreibung"><div data-ng-bind-html="item.description"></div></uib-tab>
    <uib-tab heading="Spezifikation"><div data-ng-bind-html="item.specification"></div></uib-tab>
    <uib-tab heading="Dokumente">
      <ph-shop-item-documents documents="item.documents"></ph-shop-item-documents>
    </uib-tab>
    <uib-tab heading="Verfügbarkeit">
      <ph-shop-item-availability item-id="itemId"></ph-shop-item-availability>
    </uib-tab>
  </uib-tabset>
</div>
