<!doctype html>
<html data-ng-app="ph.app">
<head>
  <meta charset="utf-8">
  <title data-ng-bind-template="{{viewTitle}}{{viewTitle ? ' · ' : ''}}phundus"></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/ng-tags-input/ng-tags-input.min.css" />
  <!-- endbower -->
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css"/>
  <link rel="stylesheet" href="bower_components/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css"/>
  <link rel="stylesheet" href="bower_components/blueimp-gallery/css/blueimp-gallery.css"/>
  <link rel="stylesheet" href="bower_components/blueimp-file-upload/css/jquery.fileupload.css"/>
  <link rel="stylesheet" href="bower_components/blueimp-file-upload/css/jquery.fileupload-ui.css"/>
  <link rel="stylesheet" href="bower_components/ng-tags-input/ng-tags-input.bootstrap.css"/>
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/checkbox.css">
  <link rel="stylesheet" href="styles/spinner.css">
  <link rel="stylesheet" href="styles/shop.css">
  <link rel="stylesheet" href="styles/tags.css">
  <!-- endbuild -->
</head>
<body>
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="header">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-ng-controller="NavCtrl">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="" data-ui-sref="public.index" title="phundus">phundus</a>
      </div>

      <div class="collapse navbar-collapse ng-cloak" id="js-navbar-collapse">

        <!--<form class="navbar-form navbar-left" role="search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Suchen und phinden!" data-ng-model="queryString">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default" data-ng-click="search()" title="phinden!"><span
                class="glyphicon glyphicon-search"></span></button>
            </span>
          </div>
        </form>-->

        <ul class="nav navbar-nav" data-ng-cloak>
          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
               aria-haspopup="true" aria-expanded="false">Organisationen <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li data-ng-repeat="membership in user.memberships">
                <a href="" data-ui-sref="organization.home({organizationId: membership.organizationId})">{{membership.organizationName}}</a>
              </li>
              <li data-ng-show="user.memberships.length > 0" class="divider"></li>
              <li><a href="" data-ui-sref="organizations">Suchen</a></li>
            </ul>
          </li>

          <li data-access-level="accessLevels.user">
            <a href="" data-ui-sref="user.orders.index({userId: user.userId})">Bestellungen</a>
          </li>

          <li data-access-level="accessLevels.admin" class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
               aria-haspopup="true" aria-expanded="false">Administration <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="" data-ui-sref="admin.users">Benutzer</a></li>
              <li><a href="" data-ui-sref="admin.organizations">Organisationen</a></li>
              <li class="divider"></li>
              <li><a href="" data-ui-sref="admin.mails">E-Mails</a></li>
              <li><a href="" data-ui-sref="admin.eventLog">Event-Log</a></li>
              <li><a href="" data-ui-sref="admin.eventProcessors">Event-Processors</a></li>
              <li><a href="" data-ui-sref="admin.schemaUpdate">Schema-Update</a></li>
              <li><a href="" data-ui-sref="admin.status">Status</a></li>
              <li><a href="/elmah" target="_blank">ELMAH</a></li>
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li data-access-level="accessLevels.user" title="Warenkorb">
            <a href="" data-ui-sref="cart" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="manual"
               data-content="Der Artikel wurde erfolgreich dem Warenkorb hinzugefügt." id="popover-glyphicon-cart"><span
              class="glyphicon glyphicon-shopping-cart"></span><span class="visible-xs-inline"> Warenkorb</span></a>
          </li>

          <li data-access-level="accessLevels.user" class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
               aria-haspopup="true" aria-expanded="false"><span
              class="glyphicon glyphicon-user" title="{{user.username}}"></span><span class="visible-xs-inline"> {{user.username}}</span> <span class="caret" title="{{user.username}}"></span></a>
            <ul class="dropdown-menu">
              <li><a href="" data-ui-sref="user.home({userId: user.userId})">{{user.fullName}}</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="" data-ui-sref="user.account({userId: user.userId})">Einstellungen</a></li>
              <li><a href="" data-ng-click="logout()">Abmelden</a></li>
            </ul>
          </li>
          <li data-access-level="accessLevels.anon"><a href="" data-ui-sref="anon.signup">Registrieren</a></li>
          <li data-access-level="accessLevels.anon"><a href="" data-ui-sref="anon.login">Anmelden</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
  <div class="container">
    <div data-ui-view></div>
  </div>
  <div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
  </div>
</div>

<div class="footer">
  <div class="container">
    <p><a href="" data-ui-sref="public.feedback">Feedback</a><!-- &middot; <a href="https://github.com/indr/phundus">GitHub</a>--> &middot;
      <span
        class="glyphicon glyphicon-heart"></span> from the phundus.ch team</p>

    <p style="visibility: collapse"><span class="versionTag">0.0.0</span></p>
  </div>
</div>

<!-- build:js(.) scripts/vendor.js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-i18n/angular-locale_de-ch.js"></script>
<script src="bower_components/blueimp-file-upload/js/vendor/jquery.ui.widget.js"></script>
<!-- bower:js -->
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-gravatar/build/angular-gravatar.js"></script>
<script src="bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
<script src="bower_components/leaflet/dist/leaflet-src.js"></script>
<script src="bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-smart-table/dist/smart-table.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/lodash/lodash.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/tinymce-dist/tinymce.js"></script>
<script src="bower_components/angular-ui-tinymce/src/tinymce.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/angular-moment/angular-moment.js"></script>
<script src="bower_components/holderjs/holder.js"></script>
<script src="bower_components/angular-holderjs/src/holder.js"></script>
<script src="bower_components/chartjs/Chart.js"></script>
<script src="bower_components/angularjs-viewhead/angularjs-viewhead.js"></script>
<script src="bower_components/ng-tags-input/ng-tags-input.min.js"></script>
<!-- endbower -->
<script src="bower_components/angular-bootstrap-confirm/dist/angular-bootstrap-confirm.js"></script>
<script src="bower_components/angular-chartjs-directive/chartjs-directive.js"></script>
<script src="bower_components/blueimp-load-image/js/load-image.all.min.js"></script>
<script src="bower_components/blueimp-canvas-to-blob/js/canvas-to-blob.min.js"></script>
<script src="bower_components/blueimp-gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="bower_components/blueimp-file-upload/js/jquery.iframe-transport.js"></script>
<script src="bower_components/blueimp-file-upload/js/jquery.fileupload.js"></script>
<script src="bower_components/blueimp-file-upload/js/jquery.fileupload-process.js"></script>
<script src="bower_components/blueimp-file-upload/js/jquery.fileupload-image.js"></script>
<script src="bower_components/blueimp-file-upload/js/jquery.fileupload-audio.js"></script>
<script src="bower_components/blueimp-file-upload/js/jquery.fileupload-video.js"></script>
<script src="bower_components/blueimp-file-upload/js/jquery.fileupload-validate.js"></script>
<script src="bower_components/blueimp-file-upload/js/jquery.fileupload-angular.js"></script>
<script src="bower_components/moment/locale/de.js"></script>
<script src="bower_components/ng-tags-input/ng-tags-input.js"></script>
<script src="bower_components/tinymce-dist/themes/modern/theme.js"></script>
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="modules/common/common.module.js"></script>
<script src="modules/common/directives/both-or-none.js"></script>
<script src="modules/common/directives/compare-to.js"></script>
<script src="modules/common/filters/unique.js"></script>
<script src="modules/common/services/uuid.js"></script>

<script src="modules/alerts/alerts.module.js"></script>
<script src="modules/alerts/modals/AlertModal.js"></script>
<script src="modules/alerts/services/Alert.js"></script>

<script src="modules/auth/auth.module.js"></script>
<script src="modules/auth/directives/access-level.js"></script>
<script src="modules/auth/services/auth.js"></script>
<script src="modules/auth/services/Auth.js"></script>

<script src="modules/domain/domain.module.js"></script>
<script src="modules/domain/services/PostalAddress.js"></script>
<script src="modules/domain/services/PriceCalculator.js"></script>

<script src="modules/ui/ui.module.js"></script>
<script src="modules/ui/ui.config.js"></script>
<script src="modules/ui/directives/active-nav.js"></script>
<script src="modules/ui/directives/has-error.js"></script>
<script src="modules/ui/directives/ph-checkbox.js"></script>
<script src="modules/ui/directives/ph-date.js"></script>
<script src="modules/ui/directives/ph-editable.js"></script>
<script src="modules/ui/directives/ph-edit-article-link.js"></script>
<script src="modules/ui/directives/ph-email-address.js"></script>
<script src="modules/ui/directives/phGuid.js"></script>
<script src="modules/ui/directives/ph-history-back.js"></script>
<script src="modules/ui/directives/ph-lessor-link.js"></script>
<script src="modules/ui/directives/ph-submit.js"></script>
<script src="modules/ui/directives/ph-vcard.js"></script>
<script src="modules/ui/directives/phTags.js"></script>
<script src="modules/ui/directives/st-select-multiple.js"></script>
<script src="modules/ui/filters/guid.js"></script>
<script src="modules/ui/filters/replace.js"></script>

<script src="modules/messages/messages.module.js"></script>
<script src="modules/messages/directives/phMessages.js"></script>

<script src="modules/upload/upload.module.js"></script>
<script src="modules/upload/controllers/FileDestroyCtrl.js"></script>
<script src="modules/upload/controllers/FileUploadCtrl.js"></script>

<script src="modules/account/account.module.js"></script>
<script src="modules/account/controllers/AccountCtrl.js"></script>
<script src="modules/account/controllers/LoginCtrl.js"></script>
<script src="modules/account/controllers/LogoutCtrl.js"></script>
<script src="modules/account/controllers/ResetPasswordCtrl.js"></script>
<script src="modules/account/controllers/SignUpCtrl.js"></script>
<script src="modules/account/controllers/ValidateCtrl.js"></script>
<script src="modules/account/directives/is-unique-email-address.js"></script>
<script src="modules/account/directives/is-unique-username.js"></script>
<script src="modules/account/modals/ChangeEmailAddressModal.js"></script>
<script src="modules/account/modals/ChangePasswordModal.js"></script>
<script src="modules/account/modals/EditContactDetailsModal.js"></script>
<script src="modules/account/services/resources.js"></script>

<script src="modules/admin/admin.module.js"></script>
<script src="modules/admin/controllers/EmailsCtrl.js"></script>
<script src="modules/admin/controllers/EventLogCtrl.js"></script>
<script src="modules/admin/controllers/EventProcessorsCtrl.js"></script>
<script src="modules/admin/controllers/OrganizationsCtrl.js"></script>
<script src="modules/admin/controllers/SchemaUpdateCtrl.js"></script>
<script src="modules/admin/controllers/StatusCtrl.js"></script>
<script src="modules/admin/controllers/UsersCtrl.js"></script>
<script src="modules/admin/filters/organization-plan.js"></script>
<script src="modules/admin/services/resources.js"></script>

<script src="modules/contracts/contracts.module.js"></script>
<script src="modules/contracts/services/resources.js"></script>

<script src="modules/debug/debug.module.js"></script>
<script src="modules/debug/controllers/DebugCtrl.js"></script>

<script src="modules/feedback/feedback.module.js"></script>
<script src="modules/feedback/controllers/FeedbackCtrl.js"></script>
<script src="modules/feedback/services/resources.js"></script>

<script src="modules/inventory/inventory.module.js"></script>
<script src="modules/inventory/directives/phInventoryArticleActivities.js"></script>
<script src="modules/inventory/directives/phInventoryArticleDescription.js"></script>
<script src="modules/inventory/directives/phInventoryArticleDetails.js"></script>
<script src="modules/inventory/directives/phInventoryArticleFields.js"></script>
<script src="modules/inventory/directives/phInventoryArticleFiles.js"></script>
<script src="modules/inventory/directives/phInventoryArticlePrices.js"></script>
<script src="modules/inventory/directives/phInventoryArticleSpecification.js"></script>
<script src="modules/inventory/directives/phInventoryArticleStock.js"></script>
<script src="modules/inventory/directives/phInventoryArticleTagsInput.js"></script>
<script src="modules/inventory/modals/inventoryCreateArticleModal.js"></script>
<script src="modules/inventory/services/resources.js"></script>

<script src="modules/contracts/contracts.module.js"></script>
<script src="modules/contracts/services/resources.js"></script>

<script src="modules/orders/orders.module.js"></script>
<script src="modules/orders/filters/orderStatusText.js"></script>
<script src="modules/orders/modals/AddOrderItemModal.js"></script>
<script src="modules/orders/modals/CreateOrderModal.js"></script>
<script src="modules/orders/services/resources.js"></script>

<script src="modules/organizations/organizations.module.js"></script>
<script src="modules/organizations/controllers/ApplicationsCtrl.js"></script>
<script src="modules/organizations/controllers/EditContactDetailsCtrl.js"></script>
<script src="modules/organizations/controllers/EditStartpageCtrl.js"></script>
<script src="modules/organizations/controllers/MembersCtrl.js"></script>
<script src="modules/organizations/controllers/OrderCtrl.js"></script>
<script src="modules/organizations/controllers/OrdersCtrl.js"></script>
<script src="modules/organizations/controllers/OrganizationCtrl.js"></script>
<script src="modules/organizations/controllers/OrganizationsCtrl.js"></script>
<script src="modules/organizations/controllers/ProductsCtrl.js"></script>
<script src="modules/organizations/controllers/SettingsCtrl.js"></script>
<script src="modules/organizations/controllers/StoreCtrl.js"></script>
<script src="modules/organizations/directives/ph-organization-product-navbar.js"></script>
<script src="modules/organizations/directives/ph-organization-navbar.js"></script>
<script src="modules/organizations/services/resources.js"></script>

<script src="modules/shop/shop.module.js"></script>
<script src="modules/shop/controllers/CartCtrl.js"></script>
<script src="modules/shop/controllers/CheckoutCtrl.js"></script>
<script src="modules/shop/controllers/ItemCtrl.js"></script>
<script src="modules/shop/controllers/ShopCtrl.js"></script>
<script src="modules/shop/directives/phShopItemAddToCart.js"></script>
<script src="modules/shop/directives/phShopItemAvailability.js"></script>
<script src="modules/shop/directives/phShopItemDocuments.js"></script>
<script src="modules/shop/directives/phShopItemImages.js"></script>
<script src="modules/shop/directives/phShopPagination.js"></script>
<script src="modules/shop/directives/phShopSearch.js"></script>
<script src="modules/shop/services/shopQueryService.js"></script>
<script src="modules/shop/services/resources.js"></script>
<script src="modules/shop/services/Shop.js"></script>

<script src="modules/stores/stores.module.js"></script>
<script src="modules/stores/directives/ph-store.js"></script>
<script src="modules/stores/modals/EditContactDetailsModal.js"></script>
<script src="modules/stores/services/resources.js"></script>

<script src="modules/users/users.module.js"></script>
<script src="modules/users/controllers/HomeCtrl.js"></script>
<script src="modules/users/controllers/UserCtrl.js"></script>
<script src="modules/users/controllers/OrdersCtrl.js"></script>
<script src="modules/users/controllers/ProductsCtrl.js"></script>
<script src="modules/users/controllers/UserCtrl.js"></script>
<script src="modules/users/directives/ph-user-article-navbar.js"></script>
<script src="modules/users/directives/ph-user-navbar.js"></script>
<script src="modules/users/directives/ph-user-vcard.js"></script>
<script src="modules/users/services/resources.js"></script>

<script src="scripts/app.js"></script>
<script src="scripts/config.js"></script>
<script src="scripts/states.js"></script>
<script src="scripts/controllers/NavCtrl.js"></script>
<!-- endbuild -->
</body>
</html>
