<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css" />
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->
  <link rel="stylesheet" href="bower_components/blueimp-gallery/css/blueimp-gallery.css" />
  <link rel="stylesheet" href="bower_components/blueimp-file-upload/css/jquery.fileupload.css" />
  <link rel="stylesheet" href="bower_components/blueimp-file-upload/css/jquery.fileupload-ui.css" />
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body data-ng-app="phundusApp">
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="header">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-ng-controller="NavCtrl">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="/shop" title="phundus">phundus</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <!--<form class="navbar-form navbar-left" role="search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Suchen und phinden!" data-ng-model="queryString">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default" data-ng-click="search()" title="phinden!"><span
                class="glyphicon glyphicon-search"></span></button>
            </span>
          </div>
        </form>-->

        <ul class="nav navbar-nav">

          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
               aria-haspopup="true" aria-expanded="false">Organisationen <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li data-ng-repeat="membership in user.memberships">
                <a href="" data-ui-sref="public.organization({organizationId: membership.organizationId})">{{membership.organizationName}}</a>
              </li>
              <li data-ng-show="user.memberships.length > 0" class="divider"></li>
              <li><a href="" data-ui-sref="public.organizations">Suchen</a></li>
            </ul>
          </li>

          <li data-access-level="accessLevels.user">
            <a href="" data-ui-sref="manage.user.orders({userId: user.userId})">Bestellungen</a>
          </li>

          <li data-access-level="accessLevels.admin" class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
               aria-haspopup="true" aria-expanded="false">Administration <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/users">Benutzer</a></li>
              <li><a href="" data-ng-click="establishOrganization()">Organisation gründen</a></li>
              <li class="divider"></li>
              <li data-ng-show="isTestEnv"><a href="" data-ui-sref="admin.mails">E-Mails</a></li>
              <li><a href="/admin#/eventlog">Ereignislog</a></li>
              <li><a href="/admin#/schemaupdate">Schema-Update</a></li>
              <li><a href="/elmah" target="_blank">ELMAH</a></li>
            </ul>
          </li>

        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li data-access-level="accessLevels.user" title="Warenkorb">
            <a href="/cart" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="manual" data-content="Artikel hinzugefügt." id="popover-glyphicon-cart"><span class="glyphicon glyphicon-shopping-cart"></span><span class="visible-xs-inline"> Warenkorb</span></a>
          </li>
          <li data-access-level="accessLevels.user" title="{{user.username}}">
            <a href="" data-ui-sref="users.home({userId: user.userId})"><span class="glyphicon glyphicon-user"></span><span class="visible-xs-inline" class="loggedOnTag"> {{user.username}}</span></a>
          </li>
          <li data-access-level="accessLevels.user" class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
               aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/account/profile">Einstellungen</a></li>
              <li><a href="" data-ng-click="logout()">Abmelden</a></li>
            </ul>
          </li>
          <li data-access-level="accessLevels.anon"><a href="/account/signup">Registrieren</a></li>
          <li data-access-level="accessLevels.anon"><a ui-sref="anon.login">Anmelden</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="ng-cloak alert alert-danger" role="alert" data-ng-repeat="(id, msg) in alerts['danger']">
    <button type="button" class="close" data-ng-click="dismissAlert('danger', id)" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error: </span>{{msg}}
  </div>

  <div class="ng-cloak alert alert-warning" role="alert" data-ng-repeat="(id, msg) in alerts['warning']">
    <button type="button" class="close" data-ng-click="dismissAlert('warning', id)" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
    <span class="sr-only">Warning: </span>{{msg}}
  </div>

  <div class="ng-cloak alert alert-info" role="alert" data-ng-repeat="(id, msg) in alerts['info']">
    <button type="button" class="close" data-ng-click="dismissAlert('success', id)" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    <span class="sr-only">Info: </span>{{msg}}
  </div>

  <div class="ng-cloak alert alert-success" role="alert" data-ng-repeat="(id, msg) in alerts['success']">
    <button type="button" class="close" data-ng-click="dismissAlert('success', id)" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
    <span class="sr-only">Success: </span>{{msg}}
  </div>

  <div data-ui-view></div>

  <div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
  </div>
</div>

<div class="footer">
  <div class="container">
    <p><a href="/feedback">Feedback</a><!-- &middot; <a href="https://github.com/indr/phundus">GitHub</a>--> &middot; <span
      class="glyphicon glyphicon-heart"></span> from the phundus.ch team</p>
    <p style="visibility: collapse"><span class="versionTag">0.0.0</span></p>
  </div>
</div>

<!-- build:js(.) scripts/vendor.js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-i18n/angular-locale_de-ch.js"></script>
<!--<script src="bower_components/jquery-ui/ui/widget.js"></script>-->
<script src="bower_components/blueimp-file-upload/js/vendor/jquery.ui.widget.js"></script>
<!-- bower:js -->
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-gravatar/build/angular-gravatar.js"></script>
<script src="bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
<script src="bower_components/leaflet/dist/leaflet-src.js"></script>
<script src="bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-smart-table/dist/smart-table.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/lodash/lodash.js"></script>
<script src="bower_components/angular-uuid/uuid.min.js"></script>
<!-- endbower -->
<script src="bower_components/blueimp-load-image/js/load-image.all.min.js"></script>
<script src="bower_components/blueimp-canvas-to-blob/js/canvas-to-blob.min.js"></script>
<script src="bower_components/blueimp-gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="bower_components/blueimp-file-upload/js/jquery.iframe-transport.js"></script>
<script src="bower_components/blueimp-file-upload/js/jquery.fileupload.js"></script>
<script src="bower_components/blueimp-file-upload/js/jquery.fileupload-process.js"></script>
<script src="bower_components/blueimp-file-upload/js/jquery.fileupload-image.js"></script>
<script src="bower_components/blueimp-file-upload/js/jquery.fileupload-audio.js"></script>
<script src="bower_components/blueimp-file-upload/js/jquery.fileupload-video.js"></script>
<script src="bower_components/blueimp-file-upload/js/jquery.fileupload-validate.js"></script>
<script src="bower_components/blueimp-file-upload/js/jquery.fileupload-angular.js"></script>
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/routingConfig.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/controllers/admin.js"></script>
<script src="scripts/controllers/debug.js"></script>
<script src="scripts/controllers/login.js"></script>
<script src="scripts/controllers/logout.js"></script>
<script src="scripts/controllers/nav.js"></script>
<script src="scripts/controllers/organizations.js"></script>
<script src="scripts/controllers/register.js"></script>
<script src="scripts/controllers/shop.js"></script>
<script src="scripts/controllers/users.js"></script>
<script src="scripts/directives/ph-date.js"></script>
<script src="scripts/directives/ph-history-back.js"></script>
<script src="scripts/directives/ph-organization-navbar.js"></script>
<script src="scripts/directives/ph-organization-article-navbar.js"></script>
<script src="scripts/directives/ph-user-article-navbar.js"></script>
<script src="scripts/directives/ph-user-navbar.js"></script>
<script src="scripts/directives/ph-user-vcard.js"></script>
<script src="scripts/directives/ph-store.js"></script>
<script src="scripts/filters/replace.js"></script>
<script src="scripts/services/alert.js"></script>
<script src="scripts/services/auth.js"></script>
<script src="scripts/services/resources.js"></script>
<script src="scripts/directives.js"></script>
<!-- endbuild -->
</body>
</html>
