<ul class="nav nav-tabs" style="margin-bottom:10px">
  <li role="presentation" data-ui-sref-active="active">
    <a href=""
       data-ui-sref="organization.product.details({organizationId: organizationId, articleShortId: articleShortId, articleId: articleId})">#{{articleShortId}}</a>
  </li>
  <li role="presentation" data-ui-sref-active="active">
    <a href=""
       data-ui-sref="organization.product.description({organizationId: organizationId, articleShortId: articleShortId, articleId: articleId})">Beschreibung</a>
  </li>
  <li role="presentation" data-ui-sref-active="active">
    <a href=""
       data-ui-sref="organization.product.specification({organizationId: organizationId, articleShortId: articleShortId, articleId: articleId})">Spezifikation</a>
  </li>
  <li role="presentation" data-ui-sref-active="active">
    <a href=""
       data-ui-sref="organization.product.stock({organizationId: organizationId, articleShortId: articleShortId, articleId: articleId})">Bestand</a>
  </li>
  <li role="presentation" data-ui-sref-active="active">
    <a href=""
       data-ui-sref="organization.product.files({organizationId: organizationId, articleShortId: articleShortId, articleId: articleId})">Dateien</a>
  </li>
  <li role="presentation" data-ui-sref-active="active">
    <a href=""
       data-ui-sref="organization.product.actions({organizationId: organizationId, articleShortId: articleShortId, articleId: articleId})"
       title="Aktivitäten"><span class="glyphicon glyphicon-flash"></span></a>
  </li>
</ul>
