<ul class="nav nav-tabs" style="margin-bottom:10px" data-access-level="accessLevels.manager" data-organization-id="organizationId">
  <li role="presentation" data-ui-sref-active="active">
    <a href="" data-ui-sref="public.organization({organizationId: organizationId})" title="Profil"><span class="glyphicon glyphicon-home"></span></a>
  </li>
  <li role="presentation" data-ui-sref-active="active">
    <a href="" data-ui-sref="organizations.stores.index({organizationId: organizationId})">Materialstelle</a>
  </li>
  <li role="presentation" data-ui-sref-active="active" active-nav="nestedTop">
    <a href="" data-ui-sref="manage.organization.orders({organizationId: organizationId})">Bestellungen</a>
  </li>
  <li role="presentation" data-ui-sref-active="active" active-nav="nestedTop">
    <a href="" data-ui-sref="organizations.products({organizationId: organizationId})">Material</a>
  </li>
  <li role="presentation" data-ui-sref-active="active">
    <a href="" data-ui-sref="manage.organization.members({organizationId: organizationId})">Mitglieder</a>
  </li>
  <li role="presentation" data-ui-sref-active="active">
    <a href="" data-ui-sref="manage.organization.applications({organizationId: organizationId})">Beitrittsanfragen</a>
  </li>

  <li role="presentation" class="pull-right" data-ui-sref-active="active">
    <a href="" data-ui-sref="organizations.settings({organizationId: organizationId})" title="Einstellungen"><span class="glyphicon glyphicon-cog"></span></a>
  </li>
  <li role="presentation" class="pull-right" data-ui-sref-active="active">
    <a href="" data-ui-sref="manage.organization.files({organizationId: organizationId})" title="Dateien"><span class="glyphicon glyphicon-file"></span></a>
  </li>

</ul>
