<ul class="nav nav-tabs" style="margin-bottom:10px" data-access-level="accessLevels.manager" data-organization-id="organizationId">
  <li role="presentation" data-ui-sref-active="active">
    <a href="" data-ui-sref="organization.home({organizationId: organizationId})" title="Profil"><span class="glyphicon glyphicon-home"></span></a>
  </li>
  <li role="presentation" data-ui-sref-active="active">
    <a href="" data-ui-sref="organization.store({organizationId: organizationId})">Materialstelle</a>
  </li>
  <li role="presentation" data-ui-sref-active="active" active-nav="nestedTop">
    <a href="" data-ui-sref="organization.orders({organizationId: organizationId})">Bestellungen</a>
  </li>
  <li role="presentation" data-ui-sref-active="active" active-nav="nestedTop">
    <a href="" data-ui-sref="organization.products({organizationId: organizationId})">Material</a>
  </li>
  <li role="presentation" data-ui-sref-active="active">
    <a href="" data-ui-sref="organization.members({organizationId: organizationId})">Mitglieder</a>
  </li>
  <li role="presentation" data-ui-sref-active="active">
    <a href="" data-ui-sref="organization.applications({organizationId: organizationId})">Beitrittsanfragen</a>
  </li>

  <li role="presentation" class="pull-right" data-ui-sref-active="active">
    <a href="" data-ui-sref="organization.settings({organizationId: organizationId})" title="Einstellungen"><span class="glyphicon glyphicon-cog"></span></a>
  </li>
  <li role="presentation" class="pull-right" data-ui-sref-active="active">
    <a href="" data-ui-sref="organization.files({organizationId: organizationId})" title="Dateien"><span class="glyphicon glyphicon-file"></span></a>
  </li>

</ul>
