<div class="vcard">
  <a class="vcard-avatar">
    <img class="avatar img-responsive" src="" data-gravatar-src-once="user.emailAddress" data-gravatar-size="262"/>
  </a>

  <h1 class="vcard-names">
    <span class="vcard-fullname" data-view-title>{{user.fullName}}</span>
  </h1>

  <div class="vcard-memberships" data-ng-show="user.memberships.length > 0 || isHome">
    <div class="panel panel-default">
      <div class="panel-heading">Mitgliedschaften</div>
      <div class="panel-body" data-ng-hide="!isHome || user.memberships.length > 0"><a href="" data-ui-sref="organizations">Suche</a> und beantrage bei Organisationen die Mitgliedschaft um weitere Artikel auszuleihen oder von günstigeren Preisen zu profitieren!</div>
      <table class="table" data-ng-show="user.memberships.length">
        <tr data-ng-repeat="membership in user.memberships">
          <td><a href="/{{membership.organizationUrl}}">
            {{membership.organizationName}}</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
