<ul class="nav nav-tabs" style="margin-bottom:10px">
  <li role="presentation" data-ui-sref-active="active">
    <a href="" data-ui-sref="user.articles.article.details({userId: userId, articleId: articleId, articleShortId: articleShortId})">#{{articleShortId}}</a>
  </li>
  <li role="presentation" data-ui-sref-active="active">
    <a href="" data-ui-sref="user.articles.article.description({userId: userId, articleId: articleId, articleShortId: articleShortId})">Beschreibung</a>
  </li>
  <li role="presentation" data-ui-sref-active="active">
    <a href=""
       data-ui-sref="user.articles.article.specification({userId: userId, articleId: articleId, articleShortId: articleShortId})">Spezifikation</a>
  </li>
  <li role="presentation" data-ui-sref-active="active">
    <a href="" data-ui-sref="user.articles.article.stock({userId: userId, articleId: articleId, articleShortId: articleShortId})">Bestand</a>
  </li>
  <li role="presentation" data-ui-sref-active="active">
    <a href="" data-ui-sref="user.articles.article.files({userId: userId, articleId: articleId, articleShortId: articleShortId})">Dateien</a>
  </li>

  <li role="presentation" data-ui-sref-active="active">
    <a href=""
       data-ui-sref="user.articles.article.actions({userId: userId, articleId: articleId})"
       title="Aktivitäten"><span class="glyphicon glyphicon-flash"></span></a>
  </li>
</ul>
