<ph-shop-search></ph-shop-search>

<div class="row">
  <div class="col-xs-6 col-md-3 shop-item" data-ng-repeat="each in items">
    <a href="" data-ng-click="showItem(each)">
      <div class="thumbnail">
        <div data-ng-if="each.previewImageUrl" style="min-height:180px">
          <img class="img-responsive" data-ng-src="{{each.previewImageUrl}}.ashx?maxwidth=260&maxheight=180" alt=""
               style="margin:auto">
        </div>
        <div data-ng-if="!each.previewImageUrl" style="min-height:180px">
          <img class="img-responsive" data-holder="holder.js/260x180?auto=yes" alt="" style="margin:auto">
        </div>
        <div class="caption">
          <h4 style="white-space:nowrap; overflow:hidden">{{each.name}}</h4>

          <p>{{each.lessorName}}</p>

          <p>CHF {{each.publicPrice | number:2}} <span class="text-muted" data-ng-show="each.memberPrice > 0">({{each.memberPrice | number:2}})</span>
            / Woche</p>
        </div>
      </div>
    </a>
  </div>
</div>

<ph-shop-pagination></ph-shop-pagination>
