<div class="row" data-ng-if="item != null">
  <div class="col-xs-12 col-md-7">
    <ph-shop-item-images images="item.images"></ph-shop-item-images>
  </div>
  <div class="col-xs-12 col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading"><ph-lessor-link lessor="lessor" data-ng-click="close()"></ph-lessor-link></div>
      <div class="panel-body">
        <ph-vcard data-contact="lessor"></ph-vcard>
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin-top:20px" data-ng-if="item != null">
  <div class="col-xs-12 col-md-4">
    <div data-access-level="accessLevels.user" data-ng-show="lessor">
      <ph-shop-item-add-to-cart item="item" added="close" data-ng-show="canRent"></ph-shop-item-add-to-cart>

      <div class="alert alert-info" data-ng-hide="canRent">
        Dieser Artikel steht nur den Mitglieder dieser Organisation zur Verfügung.
      </div>
    </div>

    <div class="alert alert-info" data-access-level="accessLevels.anon">
      Melde dich an um Artikel auszuleihen.
    </div>
  </div>

  <uib-tabset class="col-xs-12 col-md-8">
    <uib-tab heading="Verfügbarkeit">
      <ph-shop-item-availability item-id="itemId"></ph-shop-item-availability>
    </uib-tab>
    <uib-tab heading="Beschreibung" data-ng-if="item.description != null">
      <div data-ng-bind-html="item.description"></div>
    </uib-tab>
    <uib-tab heading="Spezifikation" data-ng-if="item.specification != null">
      <div data-ng-bind-html="item.specification"></div>
    </uib-tab>
    <uib-tab heading="Dokumente" data-ng-if="item.documents.length > 0">
      <ph-shop-item-documents documents="item.documents"></ph-shop-item-documents>
    </uib-tab>
  </uib-tabset>
</div>
