<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-sm-offset-1 col-md-offset-2 col-lg-offset-3">
    <h2>Anmelden</h2>

    <form class="form-horizontal" name="loginForm" novalidate>
      <div class="form-group">
        <!--<label class="control-label col-sm-3" for="username">E-Mail-Adresse</label>-->

        <div class="col-sm-9" data-ng-class="{'has-error':!loginForm.username.$valid && loginForm.username.$touched}">
          <input class="form-control input-lg" type="text" data-ng-model="username" placeholder="E-Mail-Adresse"
                 id="username"
                 name="username" required autofocus/>
        </div>
      </div>

      <div class="form-group">
        <!--<label class="control-label col-sm-3" for="password">Passwort</label>-->

        <div class="col-sm-9" data-ng-class="{'has-error':!loginForm.password.$valid && loginForm.password.$touched}">
          <input class="form-control input-lg" type="password" data-ng-model="password" placeholder="Passwort"
                 id="password"
                 name="password" required/>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-9">
          <p>
            <ph-submit class="btn-primary btn-lg" data-ng-click="login()"
                       data-form="loginForm" data-text="Anmelden"></ph-submit>
          </p>
          <p>
            Passwort vergessen? <a href="/account/resetpassword">Kein Problem</a>!
          </p>

          <p>
            Noch nicht dabei? Jetzt kostenlos <a href="" data-ui-sref="anon.signup">registrieren</a>.
          </p>
        </div>
      </div>
    </form>
  </div>
</div>

<div data-ng-show="isTestEnv">
  <div class="row" style="margin-top: 50px">
    <div class="col-xs-12">
      <h3>One-Click-Logins in der Test-Umgebung</h3>
    </div>
  </div>
  <div class="row">
    <!--<div class="col-xs-3">
      <p data-ng-repeat="n in range(10011,10017)">
        <button class="btn btn-default" type="button" data-ng-click="autoLogin(n+'@test.phundus.ch')">{{n}}@test.phundus.ch</button>
      </p>
    </div>-->
    <div class="col-xs-3">
      <p>
        <button class="btn btn-default" type="button" data-ng-click="autoLogin('user@test.phundus.ch')">
          user@test.phundus.ch
        </button>
      </p>
      <p data-ng-repeat="n in range(1,2)">
        <button class="btn btn-default" type="button" data-ng-click="autoLogin('user-'+n+'@test.phundus.ch')">
          user-{{n}}@test.phundus.ch
        </button>
      </p>
    </div>
    <div class="col-xs-3">
      <p>
        <button class="btn btn-default" type="button" data-ng-click="autoLogin('chief@test.phundus.ch')">
          chief@test.phundus.ch
        </button>
      </p>
      <p data-ng-repeat="n in range(1,2)">
        <button class="btn btn-default" type="button" data-ng-click="autoLogin('chief-'+n+'@test.phundus.ch')">
          chief-{{n}}@test.phundus.ch
        </button>
      </p>
    </div>
    <div class="col-xs-3">
      <p>
        <button class="btn btn-default" type="button" data-ng-click="autoLogin('admin@test.phundus.ch')">
          admin@test.phundus.ch
        </button>
      </p>
      <p data-ng-repeat="n in range(1,2)">
        <button class="btn btn-default" type="button" data-ng-click="autoLogin('admin-'+n+'@test.phundus.ch')">
          admin-{{n}}@test.phundus.ch
        </button>
      </p>
    </div>
  </div>
</div>
