<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-sm-offset-1 col-md-offset-2 col-lg-offset-3">
    <h2>Anmelden</h2>

    <form class="form-horizontal" name="loginForm" novalidate>
      <div class="form-group">
        <!--<label class="control-label col-sm-3" for="username">E-Mail-Adresse</label>-->

        <div class="col-sm-9" data-ng-class="{'has-error':!loginForm.username.$valid && loginForm.username.$touched}">
          <input type="email" class="form-control input-lg" data-ng-model="username" placeholder="E-Mail-Adresse"
                 id="username" name="username" required autofocus/>
        </div>
      </div>

      <div class="form-group">
        <!--<label class="control-label col-sm-3" for="password">Passwort</label>-->

        <div class="col-sm-9" data-ng-class="{'has-error':!loginForm.password.$valid && loginForm.password.$touched}">
          <input type="password" class="form-control input-lg" data-ng-model="password" placeholder="Passwort"
                 id="password" name="password" required/>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-9">
          <p>
            <ph-submit class="btn-primary btn-lg" data-ng-click="login()"
                       data-form="loginForm" data-text="Anmelden"></ph-submit>
          </p>
          <p>
            Passwort vergessen? Ein neues <a href="" data-ui-sref="anon.reset-password">anfordern</a>!
          </p>

          <p>
            Noch nicht dabei? Jetzt kostenlos <a href="" data-ui-sref="anon.signup">registrieren</a>.
          </p>
        </div>
      </div>
    </form>
  </div>
</div>

<div data-ng-show="isTestEnv">
  <div class="row" style="margin-top: 20px">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-sm-offset-1 col-md-offset-2 col-lg-offset-3">
      <h3>Test-Umgebung</h3>

      <p>One-Click-Logins in der Test-Umgebung</p>

      <p>
        <button class="btn btn-default" type="button" data-ng-click="autoLogin('user@test.phundus.ch')">user</button>
        <button class="btn btn-default" type="button" data-ng-click="autoLogin('user-1@test.phundus.ch')">user-1
        </button>
        <button class="btn btn-default" type="button" data-ng-click="autoLogin('user-2@test.phundus.ch')">user-2
        </button>
      </p>
      <p>
        <button class="btn btn-default" type="button" data-ng-click="autoLogin('chief@test.phundus.ch')">chief</button>
        <button class="btn btn-default" type="button" data-ng-click="autoLogin('chief-1@test.phundus.ch')">chief-1
        </button>
        <button class="btn btn-default" type="button" data-ng-click="autoLogin('chief-2@test.phundus.ch')">chief-2
        </button>
      </p>
      <p>
        <button class="btn btn-default" type="button" data-ng-click="autoLogin('admin@test.phundus.ch')">admin</button>
        <button class="btn btn-default" type="button" data-ng-click="autoLogin('admin-1@test.phundus.ch')">admin-1
        </button>
        <button class="btn btn-default" type="button" data-ng-click="autoLogin('admin-2@test.phundus.ch')">admin-2
        </button>
      </p>
    </div>
  </div>
</div>
