<div class="modal-header">
  <button type="button" class="close" data-ng-click="cancel()" aria-label="Close"><span
    aria-hidden="true">&times;</span></button>
  <h3>Passwort ändern</h3>
</div>
<div class="modal-body">
  <div class="alert alert-danger" data-ng-show="error">
    {{error}}
  </div>
  <div class="alert alert-success" data-ng-show="success">
    {{success}}
  </div>
  <form name="formChangePassword" class="form-horizontal" novalidate>

    <div class="form-group">
      <label class="control-label col-sm-4" for="oldPassword">Aktuelles Passwort</label>

      <div class="col-sm-8" data-has-error="formChangePassword.oldPassword">
        <input type="password" class="form-control" id="oldPassword" name="oldPassword"
               data-ng-model="changePassword.oldPassword"
               required/>

        <div role="alert" data-ng-messages="formChangePassword.oldPassword.$error"
             data-ng-show="formChangePassword.oldPassword.$touched || formChangePassword.$submitted">
          <div data-ng-messages-include="views/messages.html"></div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-4" for="newPassword">Neues Passwort</label>

      <div class="col-sm-8" data-has-error="formChangePassword.newPassword">
        <input type="password" class="form-control" id="newPassword" name="newPassword"
               data-ng-model="changePassword.newPassword"
               required/>

        <div role="alert" data-ng-messages="formChangePassword.newPassword.$error"
             data-ng-show="formChangePassword.newPassword.$touched || formChangePassword.$submitted">
          <div data-ng-messages-include="views/messages.html"></div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-4" for="confirmPassword">Wiederholung</label>

      <div class="col-sm-8" data-has-error="formChangePassword.confirmPassword">
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
               data-ng-model="changePassword.confirmPassword" required data-compare-to="changePassword.newPassword"/>

        <div role="alert" data-ng-messages="formChangePassword.confirmPassword.$error"
             data-ng-show="formChangePassword.confirmPassword.$touched || formChangePassword.$submitted">
          <div class="help-block" data-ng-message="compareTo">Die Passwort-Wiederholung stimmt nicht mit dem
            Passwort überein.
          </div>
          <div data-ng-messages-include="views/messages.html"></div>
        </div>
      </div>
    </div>

  </form>
</div>
<div class="modal-footer">
  <ph-submit class="btn-primary btn" data-ng-click="ok()"
             data-form="formChangePassword" data-text="Passwort ändern"></ph-submit>
  <button class="btn btn-default" type="button" data-ng-click="cancel()">Abbrechen</button>
</div>
