<h2>Registrierung</h2>
<p>Für die Anmeldung ist die Eingabe der persönlichen J+S Personen Nummer erforderlich. Die J+S Anerkennung muss nicht
  gültig sein, die Nummer dient nur zur Erkennung ob eine Tätigkeit in einem Jugendverband der Nutzergruppe 3
  (Lagersport und Trekking) vorhanden war. Die Nummer findest du auf deinem J+S Ausweis im Kreditkartenformat oder durch
  Rückfrage bei deinem J+S Coach.</p>
<p>Mit der Anmeldung bestätigst du Verantwortungsbewusst mit den Materialen umzugehen. Dir ist ersichtlich, dass du Teil
  sehr grossen Interessensgemeinschaft bist und vermeidest Nachlässigkeiten. Bestätigte Buchungen können nicht
  rückgängig gemacht werden. Der Mietbetrag ist beim Abholen des Material bar zu bezahlen. Bei Unsachgemässer Anwendung
  kannst du jederzeit vom phundus ausgeschlossen werden.</p>
<div class="row form-horizontal">
  <div class="col-lg-6">
    <form name="form" novalidate>
      <fieldset>
        <legend>Benutzerkonto</legend>
        <div class="form-group">
          <label class="col-sm-4 control-label" for="emailAddress">E-Mail-Adresse</label>

          <div class="col-sm-8" data-has-error="form.emailAddress">
            <input type="email" class="form-control" id="emailAddress" name="emailAddress"
                   data-ng-model="user.emailAddress" required/>

            <div data-ng-show="form.$submitted || form.emailAddress.$touched">
              <span class="help-block" data-ng-show="form.emailAddress.$error.required">Die E-Mail-Adresse ist erforderlich.</span>
              <span class="help-block"
                    data-ng-show="form.emailAddress.$error.email">Die E-Mail-Adresse ist ungültig.</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label" for="password">Passwort</label>

          <div class="col-sm-8" data-has-error="form.password">
            <input type="password" class="form-control" id="password" name="password" data-ng-model="user.password"
                   required/>

            <div data-ng-show="form.$submitted || form.password.$touched">
              <span class="help-block"
                    data-ng-show="form.password.$error.required">Das Password ist erforderlich.</span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4 control-label" for="confirmPassword">Passwort (Wiederholung)</label>

          <div class="col-sm-8" data-has-error="form.confirmPassword">
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                   data-ng-model="user.confirmPassword" required data-compare-to="user.password"/>

            <div data-ng-show="form.$submitted || form.confirmPassword.$touched">
              <span class="help-block" data-ng-show="form.confirmPassword.$error.required">Die Passwort-Wiederholung ist erforderlich.</span>
              <span class="help-block" data-ng-show="!form.confirmPassword.$error.required && form.confirmPassword.$error.compareTo">Die Passwort-Wiederholung stimmt nicht mit dem Passwort überein.</span>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Kontakt</legend>
        <div class="form-group">
          <label class="col-sm-4 control-label" for="firstName">Vorname</label>

          <div class="col-sm-8" data-has-error="form.firstName">
            <input type="text" class="form-control" id="firstName" name="firstName" data-ng-model="user.firstName"
                   required/>

            <div data-ng-show="form.$submitted || form.firstName.$touched">
              <span class="help-block"
                    data-ng-show="form.firstName.$error.required">Der Vorname ist erforderlich.</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label" for="lastName">Nachname</label>

          <div class="col-sm-8" data-has-error="form.lastName">
            <input type="text" class="form-control" id="lastName" name="lastName" data-ng-model="user.lastName"
                   required/>

            <div data-ng-show="form.$submitted || form.lastName.$touched">
              <span class="help-block"
                    data-ng-show="form.lastName.$error.required">Der Nachname ist erforderlich.</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label" for="street">Strasse</label>

          <div class="col-sm-8" data-has-error="form.street">
            <input type="text" class="form-control" id="street" name="street" data-ng-model="user.street" required/>

            <div data-ng-show="form.$submitted || form.street.$touched">
              <span class="help-block" data-ng-show="form.street.$error.required">Die Strasse ist erforderlich.</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label" for="postcode">Postleitzahl</label>

          <div class="col-sm-8" data-has-error="form.postcode">
            <input type="number" class="form-control" id="postcode" name="postcode" data-ng-model="user.postcode"
                   required min="1000" max="9999"/>

            <div data-ng-show="form.$submitted || form.postcode.$touched">
              <span class="help-block"
                    data-ng-show="form.postcode.$error.required">Die Postleitzahl ist erforderlich.</span>
              <span class="help-block"
                    data-ng-show="form.postcode.$error.number || form.postcode.$error.min || form.postcode.$error.max">Die Postleitzahl ist ungültig.</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label" for="city">Ort</label>

          <div class="col-sm-8" data-has-error="form.city">
            <input type="text" class="form-control" id="city" name="city" data-ng-model="user.city" required/>

            <div data-ng-show="form.$submitted || form.city.$touched">
              <span class="help-block" data-ng-show="form.city.$error.required">Der Ort ist erforderlich.</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label" for="mobilePhone">Mobiltelefon</label>

          <div class="col-sm-8" data-has-error="form.mobilePhone">
            <input type="text" class="form-control" id="mobilePhone" name="mobilePhone" data-ng-model="user.mobilePhone"
                   required/>

            <div data-ng-show="form.$submitted || form.mobilePhone.$touched">
              <span class="help-block" data-ng-show="form.mobilePhone.$error.required">Die Mobiltelefonnummer ist erforderlich.</span>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Mitgliedschaft</legend>
        <div class="form-group">
          <label class="col-sm-4 control-label" for="OrganizationId">Ich bin Mitglied folgender Organisation</label>

          <div class="col-sm-8">
            <select class="form-control" id="OrganizationId" name="OrganizationId">
              <option></option>
              <option value="200d3e3a-a3ff-4e36-98fe-312f7b6b745e">JuBla Playmobil</option>
              <option value="10ce0ec8-3781-436d-9290-54574474e8f8">Pfadi Lego</option>
              <option value="30f0372d-763a-473a-a246-b39e1a2d7c7a">Cevi Dupplo</option>
            </select>
            <span class="help-block"><span class="glyphicon glyphicon-info-sign"></span> Weitere Mitgliedschaften kannst du nach der Registrierung über die jeweilige Organisationsseite beantragen.</span>
          </div>
        </div>
      </fieldset>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <ph-submit class="btn-primary" data-ng-click="submit()"
                     data-form="form" data-text="Registrieren"></ph-submit>
          <a class="btn-default btn" href="/">Abbrechen</a>
        </div>
      </div>
    </form>
  </div>
</div>
