<h2>Registrierung</h2>
<div class="row" data-ng-show="submitted">
  <div class="col-xs-12">
    <p>Um die Registrierung abzuschliessen, musst du deine E-Mail-Adresse bestätigen. Dazu wurde dir ein E-Mail
      geschickt, in welchem sich einen Link befindet, um die Registrierung abzuschliessen.</p>

    <p>Falls du eine Organisation ausgewählt hast, wird nun deine Mitgliedschaftsanfrage manuell überprüft. Gewisse
      Materialien sowie die Vorzugspreise der Organisation stehen dir bis dahin noch nicht zur Verfügung. Du erhälst
      eine Benachrichtigung per E-Mail sobald du für die Organisation freigegeben wurdest.</p>
  </div>
</div>
<div class="row form-horizontal" data-ng-hide="submitted">
  <div class="col-xs-12">
    <p>Für die Anmeldung ist die Eingabe der persönlichen J+S Personen Nummer erforderlich. Die J+S Anerkennung muss
      nicht
      gültig sein, die Nummer dient nur zur Erkennung ob eine Tätigkeit in einem Jugendverband der Nutzergruppe 3
      (Lagersport und Trekking) vorhanden war. Die Nummer findest du auf deinem J+S Ausweis im Kreditkartenformat oder
      durch
      Rückfrage bei deinem J+S Coach.</p>

    <p>Mit der Anmeldung bestätigst du verantwortungsbewusst mit den Materialen umzugehen. Dir ist ersichtlich, dass du
      Teil einer
      sehr grossen Interessensgemeinschaft bist und vermeidest Nachlässigkeiten. Bestätigte Buchungen können nicht
      rückgängig gemacht werden. Der Mietbetrag ist beim Abholen des Material bar zu bezahlen. Bei Unsachgemässer
      Anwendung
      kannst du jederzeit vom phundus ausgeschlossen werden.</p>
  </div>
  <div class="col-lg-6">
    <form name="form" novalidate>
      <fieldset>
        <legend>Benutzerkonto</legend>
        <div class="form-group">
          <label class="col-sm-4 control-label" for="emailAddress">E-Mail-Adresse</label>

          <div class="col-sm-8" data-has-error="form.emailAddress">
            <input type="email" class="form-control" id="emailAddress" name="emailAddress"
                   data-ng-model="user.emailAddress" data-ng-model-options="{ debounce: 500 }" required is-unique/>

            <div role="alert" data-ng-messages="form.emailAddress.$error"
                 data-ng-show="form.emailAddress.$touched || form.$submitted">
              <span class="help-block" data-ng-message="isUnique">Die E-Mail-Adresse wird bereits verwendet.</span>

              <div data-ng-messages-include="views/messages.html"></div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label" for="password">Passwort</label>

          <div class="col-sm-8" data-has-error="form.password">
            <input type="password" class="form-control" id="password" name="password" data-ng-model="user.password"
                   required/>

            <div role="alert" data-ng-messages="form.password.$error"
                 data-ng-show="form.password.$touched || form.$submitted">
              <div data-ng-messages-include="views/messages.html"></div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4 control-label" for="confirmPassword">Passwort (Wiederholung)</label>

          <div class="col-sm-8" data-has-error="form.confirmPassword">
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                   data-ng-model="user.confirmPassword" required data-compare-to="user.password"/>

            <div role="alert" data-ng-messages="form.confirmPassword.$error"
                 data-ng-show="form.confirmPassword.$touched || form.$submitted">
              <div class="help-block" data-ng-message="compareTo">Die Passwort-Wiederholung stimmt nicht mit dem
                Passwort überein.
              </div>
              <div data-ng-messages-include="views/messages.html"></div>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Kontakt</legend>
        <div class="form-group">
          <label class="col-sm-4 control-label" for="firstName">Vorname</label>

          <div class="col-sm-8" data-has-error="form.firstName">
            <input type="text" class="form-control" id="firstName" name="firstName" data-ng-model="user.firstName"
                   required/>

            <div role="alert" data-ng-messages="form.firstName.$error"
                 data-ng-show="form.firstName.$touched || form.$submitted">
              <div data-ng-messages-include="views/messages.html"></div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label" for="lastName">Nachname</label>

          <div class="col-sm-8" data-has-error="form.lastName">
            <input type="text" class="form-control" id="lastName" name="lastName" data-ng-model="user.lastName"
                   required/>

            <div role="alert" data-ng-messages="form.lastName.$error"
                 data-ng-show="form.lastName.$touched || form.$submitted">
              <div data-ng-messages-include="views/messages.html"></div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label" for="street">Strasse</label>

          <div class="col-sm-8" data-has-error="form.street">
            <input type="text" class="form-control" id="street" name="street" data-ng-model="user.street" required/>

            <div role="alert" data-ng-messages="form.street.$error"
                 data-ng-show="form.street.$touched || form.$submitted">
              <div data-ng-messages-include="views/messages.html"></div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label" for="postcode">Postleitzahl</label>

          <div class="col-sm-8" data-has-error="form.postcode">
            <input type="number" class="form-control" id="postcode" name="postcode" data-ng-model="user.postcode"
                   required min="1000" max="9999"/>

            <div role="alert" data-ng-messages="form.postcode.$error"
                 data-ng-show="form.postcode.$touched || form.$submitted">
              <span class="help-block" data-ng-message="number, min, max">Die Postleitzahl ist ungültig.</span>

              <div data-ng-messages-include="views/messages.html"></div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label" for="city">Ort</label>

          <div class="col-sm-8" data-has-error="form.city">
            <input type="text" class="form-control" id="city" name="city" data-ng-model="user.city" required/>

            <div role="alert" data-ng-messages="form.city.$error"
                 data-ng-show="form.city.$touched || form.$submitted">
              <div data-ng-messages-include="views/messages.html"></div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label" for="mobilePhone">Mobiltelefon</label>

          <div class="col-sm-8" data-has-error="form.mobilePhone">
            <input type="text" class="form-control" id="mobilePhone" name="mobilePhone" data-ng-model="user.mobilePhone"
                   required/>

            <div role="alert" data-ng-messages="form.mobilePhone.$error"
                 data-ng-show="form.mobilePhone.$touched || form.$submitted">
              <div data-ng-messages-include="views/messages.html"></div>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Mitgliedschaft</legend>
        <div class="form-group">
          <label class="col-sm-4 control-label" for="organization">Ich bin Mitglied folgender Organisation</label>

          <div class="col-sm-8">
            <select class="form-control" id="organization" name="organizationId" data-ng-model="user.organizationId"
                    data-ng-options="organization.organizationId as organization.name for organization in organizations">
              <option></option>
            </select>
            <span class="help-block"><span class="glyphicon glyphicon-info-sign"></span> Weitere Mitgliedschaften kannst du nach der Registrierung über die jeweilige Organisationsseite beantragen.</span>
          </div>
        </div>
      </fieldset>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <ph-submit class="btn-primary" data-ng-click="submit()"
                     data-form="form" data-text="Registrieren"></ph-submit>
          <a class="btn-default btn" href="/">Abbrechen</a>
        </div>
      </div>
    </form>
  </div>
</div>
