<view-title>Bestellungen</view-title>

<table class="table table-hover" data-st-set-filter="customFilter" data-st-table="vm.displayedCollection" data-st-safe-src="vm.rowCollection">
  <thead>
  <tr>
    <th colspan="3">
      <input data-st-search class="form-control" type="search" placeholder="Suchen..."/>
    </th>
    <th colspan="2">
      <st-select-multiple collection="vm.rowCollection" predicate="status"></st-select-multiple>
    </th>
  </tr>
  <tr>
    <th data-st-sort-default="true" data-st-sort="orderShortId">Nummer</th>
    <th data-st-sort="createdAtUtc">Erstellt</th>
    <th data-st-sort="lesseeName">Mieter</th>
    <th data-st-sort="status">Status</th>
    <th class="text-right">
      <a class="btn btn-primary" href="" data-ng-click="vm.createOrder()">Neue Bestellung</a>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr data-ng-repeat="order in vm.displayedCollection">
    <td>{{order.orderShortId}}</td>
    <td>
      <ph-date value="order.createdAtUtc"></ph-date>
    </td>
    <td>{{order.lessee.name}}</td>
    <td>{{order.status | orderStatusText}}</td>
    <td class="text-right">
      <a class="btn btn-default btn-sm" href=""
         data-ui-sref="organization.order({organizationId: organizationId, orderId: order.orderId})">Öffnen</a>
      <a class="btn btn-default btn-sm" href="/api/v0/orders/{{order.orderId}}/pdf">PDF</a>
    </td>
  </tr>
  </tbody>
</table>

<div class="alert alert-info" data-ng-show="vm.rowCollection.length == 0">
  <strong>Nichts gefunden!</strong>
  Es sind keine Bestellungen vorhanden.
</div>

<div class="alert alert-info" data-ng-show="vm.displayedCollection.length == 0 && vm.rowCollection.length > 0">
  <strong>Nichts gefunden!</strong>
  Deine Suche liefert keine Ergebnisse.
</div>
