<div class="page-header">
  <h1 data-view-title>Einstellungen</h1>
</div>

<form class="form-horizontal" name="nameForm" novalidate>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="name">Name</label>

    <div class="col-sm-9" data-has-error="nameForm.name">
      <input type="text" class="form-control" id="name" name="name"
             data-ng-model="nameFormModel.name" required>

      <div role="alert" data-ng-messages="nameForm.name.$error"
           data-ng-show="nameForm.name.$touched || form.$submitted">
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <ph-submit class="btn-primary" data-ng-click="submit(nameForm, nameFormModel)"
                 data-form="nameForm" data-text="Speichern"></ph-submit>
      <button type="button" class="btn btn-default" data-ng-click="reset(nameFormModel, nameFormReset)">Verwerfen
      </button>
    </div>
  </div>
</form>

<form class="form-horizontal" style="margin-top:50px" name="publicForm" novalidate>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="publicRental">Öffentlicher Verleih</label>

    <div class="col-sm-9" data-has-error="publicForm.publicRental">
      <div class="checkbox">
        <input class="styled" id="publicRental" name="publicRental" type="checkbox"
               data-ng-model="publicFormModel.publicRental">
        <label for="publicRental">
          Das Material der Organisation öffentlich zugänglich machen. Dadurch können Benutzer, die nicht Mitglied der
          Organisation sind, das Material in den Warenkorb legen und eine Bestellung an deine Organisation auslösen.
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <ph-submit class="btn-primary" data-ng-click="submit(publicForm, publicFormModel)"
                 data-form="publicForm" data-text="Speichern"></ph-submit>
      <button type="button" class="btn btn-default" data-ng-click="reset(publicFormModel, publicFormReset)">Verwerfen
      </button>
    </div>
  </div>
</form>

<form class="form-horizontal" style="margin-top:50px" name="pdfTemplateForm" novalidate>
  <label class="col-sm-3 control-label" for="pdfTemplate">PDF-Template</label>

  <div class="col-sm-9" data-has-error="pdfTemplateForm.pdfTemplate">
    <select class="form-control" id="pdfTemplate" name="pdfTemplate" data-ng-model="pdfTemplateFormModel.pdfTemplate"
            data-ng-options="file.name as file.name for file in files">
      <option></option>
    </select>
    <span class="help-block">Wähle eine <a href="" data-ui-sref="organization.files({organizationId: organizationId})">zuvor hochgeladene</a> PDF-Datei aus, die als Dokumentvorlage für die automatisch generierten PDF-Dateien, wie zum Beispiel die Bestellungen, verwendet werden soll.</span>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <ph-submit class="btn-primary" data-ng-click="submit(pdfTemplateForm, pdfTemplateFormModel)"
                 data-form="pdfTemplateForm" data-text="Speichern"></ph-submit>
      <button type="button" class="btn btn-default" data-ng-click="reset(pdfTemplateFormModel, pdfTemplateFormReset)">
        Verwerfen
      </button>
    </div>
  </div>
</form>

<form class="form-horizontal" style="margin-top:50px" name="emailTemplateForm" novalidate>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="orderReceivedEmail">Bestellbestätigung</label>

    <div class="col-sm-9" data-has-error="emailTemplateForm.orderReceivedEmail">
      <textarea class="form-control" rows="6" id="orderReceivedEmail"
                data-ng-model="emailTemplateFormModel.orderReceivedEmail"></textarea>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <ph-submit class="btn-primary" data-ng-click="submit(emailTemplateForm, emailTemplateFormModel)"
                 data-form="emailTemplateForm" data-text="Speichern"></ph-submit>
      <button type="button" class="btn btn-default"
              data-ng-click="reset(emailTemplateFormModel, emailTemplateFormReset)">
        Verwerfen
      </button>
    </div>
  </div>
</form>
