<table class="table table-hover" data-st-table="displayedCollection" data-st-safe-src="rowCollection">
  <thead>
  <tr>
    <th colspan="7">
      <input data-st-search class="form-control" type="search" placeholder="Suchen..."/>
    </th>
  </tr>
  <tr>
  <tr>
    <th data-st-sort="firstName">Vorname</th>
    <th data-st-sort="lastName">Nachname</th>
    <th data-st-sort="emailAddress">E-Mail-Adresse</th>
    <th data-st-sort="jsNumber">J+S-Nummer</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr data-ng-repeat="row in displayedCollection">
    <td>{{row.firstName}}</td>
    <td>{{row.lastName}}</td>
    <td>{{row.emailAddress}}</td>
    <td>{{row.jsNumber}}</td>
    <td>
      <a class="btn btn-success btn-xs" href="" data-ng-click="approve(row)">Bestätigen</a>
      <a class="btn btn-default btn-xs" href="" data-ng-click="reject(row)">Ablehnen</a>
    </td>
  </tr>
  </tbody>
</table>

<div class="alert alert-info" data-ng-show="rowCollection.length == 0">
  <strong>Nichts gefunden!</strong>
  Es sind keine Beitrittsanfragen vorhanden.
</div>

<div class="alert alert-info" data-ng-show="displayedCollection.length == 0 && rowCollection.length > 0">
  <strong>Nichts gefunden!</strong>
  Deine Suche liefert keine Ergebnisse.
</div>
