<ph-organization-navbar data-ng-show="organization" data-organization-id="organizationId"></ph-organization-navbar>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <h2>{{organization.name}}</h2>
    <div data-ng-bind-html="startpage"></div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div data-ng-show="relationship">
      <h3>Mitgliedschaft</h3>
      <div data-ng-show="relationship.status == 'None'">
        <p>Du kannst dieser Organisation <a data-ng-click="join()" class="btn btn-default btn-sm">beitreten</a>.</p>
      </div>
      <div data-ng-show="relationship.status == 'Member'">
        <p>Du bist Mitglied seit dem {{relationship.timestamp | date: 'mediumDate'}}.</p>
      </div>
      <div data-ng-show="relationship.status == 'Application'">
        <p>Du hast die Mitgliedschaft am {{relationship.timestamp | date: 'mediumDate'}} beantragt.</p>
      </div>
      <div data-ng-show="relationship.status == 'Rejected'">
        <p>Dein Antrag zur Mitgliedschaft wurde am {{relationship.timestamp | date: 'mediumDate'}} abgelehnt.</p>
        <p>Du kannst die Mitgliedschaft erneut <a data-ng-click="join()" class="btn btn-default btn-sm">beantragen</a>.</p>
      </div>
    </div>

    <div data-ng-show="hasContactOptions()">
      <h3>Kontakt</h3>
      <address data-ng-show="organization.address" style="white-space:pre">{{organization.address}}</address>
      <address>
        <div data-access-level="accessLevels.user" data-ng-show="organization.emailAddress">
        E-Mail:
        {{organization.emailAddress|replace:'@.*$':''}} AT <span style="display:none;">null.</span><span>{{organization.emailAddress|replace:'^.*@':''}}</span></div>
        <div data-ng-show="organization.website">Webseite:
        <a href="{{organization.website}}">{{organization.website}}</a></div>
      </address>
    </div>

    <div data-ng-show="organization.stores[0]">
      <h3>Materialstelle</h3>
      <address data-ng-show="organization.stores[0].address" style="white-space:pre">{{organization.stores[0].address}}</address>
      <div data-ng-show="organization.stores[0].openingHours" style="white-space:pre">{{organization.stores[0].openingHours}}</div>
      <div data-ng-show="organization.stores[0].coordinate">
        <leaflet width="100%" height="400px" style="margin-bottom:10px"></leaflet>
      </div>
      <p></p>
    </div>
  </div>
</div>
