<ph-organization-navbar data-ng-show="organization" data-organization-id="organizationId"></ph-organization-navbar>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <h2>{{organization.name}} <a class="btn btn-default btn-sm" href="" data-access-level="accessLevels.manager" data-organization-id="organizationId" data-ui-sref="organizations.startpage({organizationId: organizationId})"><span class="glyphicon glyphicon-pencil"></span></a></h2>

    <div data-ng-bind-html="startpage"></div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <h3>Mitgliedschaft</h3>
    <div data-ng-show="relationship" data-ng-switch="relationship.status">

      <div data-ng-switch-when="member">
        <p>Du bist Mitglied seit dem {{relationship.timestamp | date: 'mediumDate'}}.</p>
      </div>

      <div data-ng-switch-when="application">
        <p>Du hast die Mitgliedschaft am {{relationship.timestamp | date: 'mediumDate'}} beantragt.</p>
      </div>

      <div data-ng-switch-when="rejected">
        <p>Dein Antrag zur Mitgliedschaft wurde am {{relationship.timestamp | date: 'mediumDate'}} abgelehnt.</p>

        <p>Du kannst die Mitgliedschaft erneut
          <button type="button" class="btn btn-default btn-sm" data-ng-disabled="isJoining"
                  data-mwl-confirm data-on-confirm="join()" data-title="Bestätigung"
                  data-message="Möchtest du der Organisation {{organization.name}} wirklich beitreten?"
                  data-confirm-text="Ja" data-cancel-text="Nein"><span
            class="glyphicon glyphicon-refresh glyphicon-spin" data-ng-show="isJoining"></span> beantragen
          </button>
          .
        </p>
      </div>

      <div data-ng-switch-default>
        <p>Du kannst dieser Organisation
          <button type="button" class="btn btn-default btn-sm" data-ng-disabled="isJoining"
                  data-mwl-confirm data-on-confirm="join()" data-title="Bestätigung"
                  data-message="Möchtest du der Organisation {{organization.name}} wirklich beitreten?"
                  data-confirm-text="Ja" data-cancel-text="Nein"><span
            class="glyphicon glyphicon-refresh glyphicon-spin" data-ng-show="isJoining"></span> beitreten
          </button>
          .
        </p>
      </div>
    </div>

    <div data-ng-show="hasContactOptions()">
      <h3>Kontakt <a class="btn btn-default btn-sm" href="" data-access-level="accessLevels.manager" data-organization-id="organizationId" data-ui-sref="organizations.contact-details({organizationId: organizationId})"><span class="glyphicon glyphicon-pencil"></span></a></h3>
      <address data-ng-show="organization.address" style="white-space:pre">{{organization.address}}</address>
      <address>
        <div data-access-level="accessLevels.user" data-ng-show="organization.emailAddress">
          E-Mail:
          {{organization.emailAddress|replace:'@.*$':''}} AT <span style="display:none;">null.</span><span>{{organization.emailAddress|replace:'^.*@':''}}</span>
        </div>
        <div data-ng-show="organization.website">Webseite:
          <a href="{{organization.website}}">{{organization.website}}</a></div>
      </address>
    </div>

    <div data-ng-show="organization.stores[0]">
      <h3>Materialstelle</h3>
      <address data-ng-show="organization.stores[0].address" style="white-space:pre">{{organization.stores[0].address}}
      </address>
      <div data-ng-show="organization.stores[0].openingHours" style="white-space:pre">{{organization.stores[0].openingHours}}
      </div>
      <div data-ng-show="organization.stores[0].coordinate">
        <leaflet width="100%" height="400px" style="margin-bottom:10px"></leaflet>
      </div>
      <p></p>
    </div>
  </div>
</div>
