<table class="table table-hover" data-st-table="displayedCollection" data-st-safe-src="rowCollection">
  <thead>
  <tr>
    <th colspan="7">
      <input data-st-search class="form-control" type="search" placeholder="Suchen..."/>
    </th>
  </tr>
  <tr>
    <th data-st-sort="id">#</th>
    <th data-st-sort="firstName">Vorname</th>
    <th data-st-sort="lastName">Nachname</th>
    <th data-st-sort="emailAddress">E-Mail-Adresse</th>
    <th data-st-sort="jsNumber">J+S-Nummer</th>
    <th data-st-sort="role">Verwaltung</th>
    <th data-st-sort="isLocked">Gesperrt</th>
    <!--<th></th>-->
  </tr>
  </thead>
  <tbody>
  <tr data-ng-repeat="row in displayedCollection">
    <td>{{row.id}}</td>
    <td>{{row.firstName}}</td>
    <td>{{row.lastName}}</td>
    <td>{{row.emailAddress}}</td>
    <td>{{row.jsNumber}}</td>
    <td>
      <ph-checkbox class="checkbox-danger" data-spin="row.isManagerSubmitting">
        <input type="checkbox" data-ng-model="row.isManager" data-ng-change="toggleIsManager(row)" />
        <label></label>
      </ph-checkbox>
    </td>
    <td>
      <ph-checkbox class="checkbox-warning" data-spin="row.isLockedSubmitting">
        <input type="checkbox" data-ng-model="row.isLocked" data-ng-change="toggleIsLocked(row)" />
        <label></label>
      </ph-checkbox>
    </td>
  </tr>
  </tbody>
</table>

<div class="alert alert-info" data-ng-show="rowCollection.length == 0">
  <strong>Nichts gefunden!</strong>
  Es sind keine Mitglieder vorhanden.
</div>

<div class="alert alert-info" data-ng-show="displayedCollection.length == 0 && rowCollection.length > 0">
  <strong>Nichts gefunden!</strong>
  Deine Suche liefert keine Ergebnisse.
</div>
