<h2>Bestellung {{order.orderId}}</h2>

<div data-ng-show="order" class="row">
  <div class="col-lg-4">
    <p>Status: {{order.status | orderStatusText}}</p>

    <p>Vermieter: {{order.lessorName}}</p>

    <p>Erstellt: {{order.createdAtUtc | date:'medium'}}</p>

    <p>Bearbeitet: {{order.modifiedAtUtc | date:'medium'}}</p>
  </div>
  <div class="col-lg-4">
    <p>{{order.lessee.name}}</p>

    <p>{{order.lessee.street}}</p>

    <p>{{order.lessee.postcode}} {{order.lessee.city}}</p>

    <p>{{order.lessee.memberNumber}}</p>
  </div>
</div>

<form name="orderForm" novalidate>
  <table data-ng-show="order" class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>Artikel</th>
      <th>Verfügbar</th>
      <th>Von</th>
      <th>Bis</th>
      <th>Menge</th>
      <th>Stückpreis</th>
      <th>Total</th>
      <th data-ng-show="canEdit()"></th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="item in order.items">
      <td>{{$index+1}}</td>
      <td>{{item.text}}</td>
      <td data-ng-show="item.isAvailable"><span class="glyphicon glyphicon-ok"></span></td>
      <td data-ng-show="!item.isAvailable"><span class="glyphicon glyphicon-remove"></span></td>
      <td data-ng-show="!item.editing">{{item.fromUtc | date:'mediumDate'}}</td>
      <td data-ng-show="!item.editing">{{item.toUtc | date:'mediumDate'}}</td>
      <td data-ng-show="!item.editing">{{item.amount}}</td>
      <td data-ng-show="item.editing" class="col-sm-2"
          data-ng-class="{'has-error':!orderForm.item_{{$index}}_fromUtc.$valid && orderForm.item_{{$index}}_fromUtc.$touched}">
        <p class="input-group">
          <input class="form-control" type="text" required data-ng-model="item.fromUtc" name="item_{{$index}}_fromUtc"
                 data-uib-datepicker-popup="mediumDate" data-is-open="fromUtcIsOpen"/>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" data-ng-click="fromUtcIsOpen = true">
            <i class="glyphicon glyphicon-calendar"></i></button>
        </span>
        </p>
      </td>
      <td data-ng-show="item.editing" class="col-sm-2"
          data-ng-class="{'has-error':!orderForm.item_{{$index}}_toUtc.$valid && orderForm.item_{{$index}}_toUtc.$touched}">
        <p class="input-group">
          <input class="form-control" type="text" required data-ng-model="item.toUtc" name="item_{{$index}}_toUtc"
                 data-uib-datepicker-popup="mediumDate" data-is-open="toUtcIsOpen"/>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" data-ng-click="toUtcIsOpen = true">
            <i class="glyphicon glyphicon-calendar"></i></button>
        </span>
        </p>
      </td>
      <td data-ng-show="item.editing" class="col-sm-1"
          data-ng-class="{'has-error':!orderForm.item_{{$index}}_amount.$valid && orderForm.item_{{$index}}_amount.$touched}">
        <input class="form-control" type="number" required data-ng-model="item.amount" name="item_{{$index}}_amount"/>
      </td>
      <td>{{item.unitPrice | number:2}}</td>
      <td data-ng-show="!item.editing">{{item.itemTotal | number:2}}</td>
      <td data-ng-show="item.editing" class="col-sm-2"
          data-ng-class="{'has-error':!orderForm.item_{{$index}}_itemTotal.$valid && orderForm.item_{{$index}}_itemTotal.$touched}">
        <p class="input-group">
          <input class="form-control" type="text" required data-ng-model="item.itemTotal"
                 name="item_{{$index}}_itemTotal"/>
        <span class="input-group-btn">
          <button class="btn btn-default" data-ng-click="calculateItemTotal(item)" title="Preis berechnen">
            <i class="glyphicon glyphicon-refresh"></i></button>
        </span>
        </p>
      </td>
      <td data-ng-show="canEdit() && !item.editing">
        <a data-ng-show="canEdit()" class="btn btn-default" href="" data-ng-click="editItem(item)"
           title="Bearbeiten"><span class="glyphicon glyphicon-edit"></span></a>
        <a data-ng-show="canEdit()" class="btn btn-default" href="" data-ng-click="removeItem(item)"
           title="Entfernen"><span class="glyphicon glyphicon-remove"></span></a>
      </td>
      <td data-ng-show="item.editing">
        <a class="btn btn-default" href="" data-ng-click="saveEditedItem(item)" title="Speichern"><span
          class="glyphicon glyphicon-ok"></span></a>
        <a class="btn btn-default" href="" data-ng-click="cancelEditing(item)" title="Verwerfen"><span
          class="glyphicon glyphicon-asterisk"></span></a>
      </td>
    </tr>

    <tr style="font-weight:bold">
      <td colspan="7" style="text-align:right;">Total</td>
      <td>{{getTotal() | number:2}}</td>
      <td data-ng-show="canEdit()"></td>
    </tr>
    </tbody>
  </table>
</form>

<div class="row">
  <div class="col-sm-6">
    <a class="btn btn-default" href="" ph-history-back>Zurück</a>
    <a data-ng-show="order" class="btn btn-default" href="/api/orders/{{order.orderId}}.pdf">PDF</a>
  </div>
  <div ng-show="order" class="col-sm-6" style="text-align:right">
    <a class="btn btn-default" data-ng-show="canEdit()" href="" data-ng-click="showAddItem(order)">Artikel
      hinzufügen</a>
    <a class="btn btn-primary" data-ng-show="canConfirm()" href="" data-ng-click="confirmOrder(order)">Bestätigen</a>
    <a class="btn btn-danger" data-ng-show="canReject()" href="" data-ng-click="rejectOrder(order)">Ablehnen</a>
    <a class="btn btn-primary" data-ng-show="canClose()" href="" data-ng-click="closeOrder(order)">Abschliessen</a>
  </div>
</div>

<div class="modal" id="modal-add-item">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4>Artikel hinzufügen</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" name="addItemForm" novalidate>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="inputArticleId">Artikel-Id</label>

            <div class="col-sm-9"
                 data-ng-class="{'has-error':!addItemForm.inputArticleId.$valid && addItemForm.inputArticleId.$touched}">
              <input type="text" class="form-control" id="inputArticleId" name="inputArticleId"
                     data-ng-model="newItem.articleId" required>
              <span class="help-block"
                    data-ng-show="addItemForm.inputArticleId.$error.required && addItemForm.inputArticleId.$touched">Erforderlich!</span>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="fromUtc">Von</label>

            <div class="col-sm-9"
                 data-ng-class="{'has-error':!addItemForm.fromUtc.$valid && addItemForm.fromUtc.$touched}">
              <p class="input-group">
                <input type="text" class="form-control" id="fromUtc" name="fromUtc"
                       data-uib-datepicker-popup="mediumDate" data-ng-model="newItem.fromUtc"
                       data-is-open="fromUtcIsOpen" required>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" data-ng-click="fromUtcIsOpen = true"><i
                    class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>
              <span class="help-block" data-ng-show="addItemForm.fromUtc.$error.required">Erforderlich!</span>
              <span class="help-block" data-ng-show="addItemForm.fromUtc.$error.date">Ungültiges Datum!</span>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="toUtc">Bis</label>

            <div class="col-sm-9" data-ng-class="{'has-error':!addItemForm.toUtc.$valid && addItemForm.toUtc.$touched}">
              <p class="input-group">
                <input type="text" class="form-control" id="toUtc" name="toUtc"
                       data-uib-datepicker-popup="mediumDate" data-ng-model="newItem.toUtc"
                       data-is-open="toUtcIsOpen" required>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" data-ng-click="toUtcIsOpen = true"><i
                    class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>
              <span class="help-block" data-ng-show="addItemForm.toUtc.$error.required">Erforderlich!</span>
              <span class="help-block" data-ng-show="addItemForm.toUtc.$error.date">Ungültiges Datum!</span>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="amount">Menge</label>

            <div class="col-sm-9"
                 data-ng-class="{'has-error':!addItemForm.amount.$valid && addItemForm.amount.$touched}">
              <input type="number" class="form-control" id="amount" name="amount" data-ng-model="newItem.amount"
                     required min="0">
              <span class="help-block" data-ng-show="addItemForm.amount.$error.required && addItemForm.amount.$touched">Erforderlich!</span>
              <span class="help-block" data-ng-show="addItemForm.amount.$error.number">Keine gültige Zahl!</span>
              <span class="help-block" data-ng-show="addItemForm.amount.$error.min || addItemForm.amount.$error.max">Die Menge muss grösser als 0 sein!</span>
            </div>
          </div>

          <div class="alert alert-danger" role="alert" data-ng-show="addItemForm.$invalid && addItemForm.$submitted">
            <strong>Fehler</strong> Bitte überprüfe die Eingaben.
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-primary" data-ng-click="addItem(newItem)" value="Hinzufügen">
        <a href="#" class="btn btn-default" data-dismiss="modal">Abbrechen</a>
      </div>
    </div>
  </div>
</div>
