<div class="page-header">
  <h1 data-view-title>Impressum</h1>
</div>

<address>
  <strong>phundus.ch</strong><br>
  Sandstrasse 5<br>
  3302 Moosseedorf<br>
  info@phundus.ch
</address>

<p>
  <strong>Vertreten durch:</strong><br>
  Präsident: Lukas Müller<br>
  Vizepräsident: Reto Inderbitzin<br>
  Kassier: Markus Gander
</p>

<p><strong>Kontakt:</strong><br>info@phundus.ch</p>

<h2>Allgemeine Grundsätze</h2>
<p class="text-justify">Die Nutzer von phundus.ch sind verpflichtet, die bei der Nutzung von phundus.ch gesetzliche
  Vorgaben einzuhalten. Dabei sind die Nutzer selber dafür verantwortlich, dass sie bei der Nutzung der Plattform keine
  Rechte Dritter verletzen und ihre Angebote und Angaben rechtmässig sind. Die Nutzer dürfen Informationen, welche sie
  als Nutzer der Plattform von phundus.ch erhalten, sowie weitere Daten der Webseite (z.B. Angaben der Artikel,
  Abbildungen, etc.) für keine anderen kommerziellen Zwecke als die auf der Plattform von phundus.ch beschriebenen
  verwenden. Die Verwendung dieser Seite ist nur für den privaten, nicht kommerziellen Gebrauch gestattet. phundus.ch
  unterhält eine Vermittlungsplattform, auf der sich Organisationen der Kinder- und Jugendarbeit eintragen können, um im
  Rahmen der Schweizer Gesetzgebung Mietenden ihre Leihartikel für einen definierten Zeitraum zur Nutzung zu überlassen.
  Mietende können Anfragen zur Miete von Artikel auf der Internetplattform stellen. Die Vermittlungsplattform phundus.ch
  ermöglicht dabei das Suchen und Reservieren von Artikel. Phundus.ch bietet selbst grundsätzlich keine Artikel zur
  Miete an, sondern ist Vermittler zwischen Vermieter und Mieter.</p>

<h2>Registrierung</h2>
<p class="text-justify">Die Registrierung auf phundus.ch ist unentgeltlich und verpflichtet den Nutzer nicht zum
  Abschluss eines Nutzungsvertrages. Anmeldungen können aber von phundus.ch jederzeit und ohne Begründung abgelehnt
  werde. Registrierungsberechtigt sind voll handlungsfähige natürliche Personen. Es ist nur eine Anmeldung pro Person
  zulässig. Bei der Anmeldung hat der Nutzer alle für die Registrierung notwendigen Angaben wahrheitsgetreu an zu geben.
  Allfällige spätere Änderungen sind direkt im Userkonto sofortvorzunehmen. Der Nutzer ist verpflichtet, alle
  Anmeldedaten und Passwörter geheim zu halten und so aufzubewahren, dass Dritte keinen Zugriff darauf haben. Das
  Userkonto ist persönlich und nicht übertragbar. Wir die Anmeldung über eine Drittanwendung ausgeführt trägt der
  Drittanbieter die Verantwortung der Datenrichtigkeit und ist sich dessen Auswirkungen auf phundus.ch bewusst.</p>

<h2>Mietvertrag</h2>
<p class="text-justify">Nutzer haben keinen Anspruch auf Abschluss eines Mietvertrages durch eine angefragte
  Materialstelle. Die Plattform phundus.ch ist generell nicht Partei des Mietvertrages sondern agiert lediglich als
  Vermittler zwischen Vermieter und Mieter. Die Erfüllung des Mietvertrages erfolgt ausschliesslich zwischen Vermieter
  und Mieter. Der Vermieter publiziert lediglich die von ihm zur Miete angebotenen Artikel mit Beschreibung und
  Verfügbarkeitszeitraum auf der Plattform. Der Mieter kann phundus.ch nach den für ihn passenden Artikel durchsuchen.
  Findet der Mieter etwas Passendes, kann er den Artikel für einen gewünschten Zeitraum reservieren sofern er in diesem
  Zeitraum zur Verfügung steht. Die Materialstelle kontrolliert die Verfügbarkeit manuell und bestätigt die Reservation.
  Der Mietvertrag kommt mit der erfolgreichen Bestätigung durch die Materialstelle zustande. Mieter und Vermieter werden
  über den Abschluss des Mietvertrages durch eine E-Mail-Bestätigung. Individuellen Mietbestimmungen der Vermieter sind
  erlaubt sofern sie sich an die Schweizerischen Gesetzgebung nach (Art. 253 OR) halten. Mit dem Zustandekommen des
  Mietvertrages ist der Vermieter verpflichtet, dem Mieter den Artikel zum persönlich vereinbarten Zeitpunkt, am
  vereinbarten Ort und zu den vereinbarten Bedingungen des geschlossenen zur Verfügung zu stellen. Der einseitige
  Rücktritt vom Mietvertrag, die gemeinsame Aufhebung des Mietvertrages oder die nachträgliche Verkürzung der Mietdauer
  ist ausser in Fällen höherer Gewalt nicht möglich.</p>

<h2>Inhalte</h2>
<p class="text-justify">Als Plattform sind wir nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen
  zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur
  Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine
  diesbezügliche Haftung ist erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Die Plattform
  kann benutzter angelegte Inhalte und Links zu externen Webseiten enthalten, auf deren Inhalte wir keinen Einfluss
  haben. Für die nutzergenerierten Inhalte ist stets der jeweilige Nutzer verantwortlich. Diskriminierenden oder
  Ehrverletzenden sind untersagt und können ohne Rücksprache von der Plattform entfernt werden. Eine permanente
  inhaltliche Kontrolle ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Soweit die Inhalte
  auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte nach URG Art. 10 Abs. 2 von Dritter
  beachtet.</p>

<h2>Datenschutz</h2>
<p class="text-justify">Sie haben jederzeit das Recht auf Berichtigung, Sperrung oder Löschung ihrer Daten. Hierzu sowie
  zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit per E-Mail an info@phundus.ch an uns
  wenden. Die Plattform verwenden Cookies welche dazu dienen das Angebot nutzerfreundlicher, effektiver und sicherer zu
  machen Der Provider der Seiten erhebt und speichert automatisch Informationen in so genannten Server-Log Files, die
  dein Browser automatisch an uns übermittelt. Dies sind:</p>
<ul>
  <li>Browertyp- und version</li>
  <li>Verwendetes Betriebssystem</li>
  <li>URL-Hostname des zugreifenden Rechners</li>
  <li>Uhrzeit der Serveranfrage</li>
</ul>
<p class="text-justify">Diese Daten sind nicht bestimmten Personen zuordenbar. Eine Zusammenführung dieser Daten mit
  anderen Datenquellen wird nicht vorgenommen. Wir behalten uns vor, diese Daten nachträglich zu prüfen, wenn uns
  konkrete Anhaltspunkte für eine rechtswidrige Nutzung bekannt werden.</p>

<p>&nbsp;</p>
<p>Moosseedorf, 22.07.2016</p>
