<span class="help-block" data-ng-message="required">Dieses Feld erfordert eine Eingabe.</span>
<span class="help-block" data-ng-message="minlength">Die Eingabe ist zu kurz.</span>
<span class="help-block" data-ng-message="maxlength">Die Eingabe ist zu lang.</span>
<span class="help-block" data-ng-message="min">Die Eingabe ist zu klein.</span>
<span class="help-block" data-ng-message="max">Die Eingabe ist zu gross</span>
<span class="help-block" data-ng-message="number">Die Eingabe ist keine gültige Zahl.</span>
<span class="help-block" data-ng-message="integer">Die Eingabe ist keine gültige Zahl.</span>
<span class="help-block" data-ng-message="email">Die E-Mail-Adresse ist ungültig.</span>
