<view-title>Material</view-title>
<div class="ng-cloak alert alert-info" data-ng-show="!store && !loading">
  <strong>Keine Materialstelle!</strong>
  Bevor du dein Material erfassen und verwalten kannst, musst du <a href="" data-ui-sref="user.home({userId: userId})" >deine Materialstelle</a> eröffnen.
</div>

<table class="table table-hover" data-ng-show="store && !loading" data-st-table="displayedArticles" data-st-safe-src="articles">
  <thead>
  <tr>
    <th colspan="5">
      <input data-st-search class="form-control" type="search" placeholder="Suchen..."/>
    </th>
  </tr>
  <tr>
    <th data-st-sort="articleShortId">Id</th>
    <th data-st-sort-default="true" data-st-sort="name">Name</th>
    <th class="text-right" data-st-sort="grossStock">Bestand</th>
    <th class="text-right" data-st-sort="publicPrice">Preis</th>
    <th class="text-right">
      <a class="btn btn-primary" href="" data-ng-click="createArticle()">Neues Material</a>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr data-ng-repeat="row in displayedArticles">
    <td>{{row.articleShortId}}</td>
    <td>{{row.name}}</td>
    <td class="text-right">{{row.grossStock}}</td>
    <td class="text-right">{{row.publicPrice | number:2}}</td>
    <td class="text-right">
      <a class="btn btn-default btn-sm" href=""
         data-ui-sref="user.product.details({userId: userId, articleId: row.articleId, articleShortId: row.articleShortId})">Bearbeiten</a>
      <a class="btn btn-danger btn-sm" href="" data-ng-click="delete(row.articleShortId, row.name)">Löschen</a>
    </td>
  </tr>
  </tbody>
</table>

<div class="alert alert-info" data-ng-show="store && !loading && articles.length == 0">
  <strong>Nichts gefunden!</strong>
  Es sind keine Artikel vorhanden.
</div>

<div class="alert alert-info" data-ng-show="store && !loading && displayedArticles.length == 0 && articles.length > 0">
  <strong>Nichts gefunden!</strong>
  Deine Suche liefert keine Ergebnisse.
</div>
